// Selected Image in Gallery

.sui-featureGallery-selectedImg {
    margin-bottom: -1rem;

    img {
        margin-bottom: -0.3rem !important;
    }
}

.sui-featureGallery-selectedImg:after {
    display: inline-block;
    width: 1rem;
    border: 12px solid #555;
    content: '';
    margin-left: 45%;
    border-top: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

// The DropDown / FoldOut Area
#FoldOutViewer {
    background-color: #222;
    padding: 2rem;

    // Icons and arrows
    .c-foviewer__close {
        color: white;
        font-size: 2rem;
        position: relative;
        left: 98%;
        top: -1rem;
        cursor: pointer;
        z-index: 100;
    }

    .c-foviewer__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2rem;

        .arrow {
            color: #aaa;
            background-color: #292929;
            font-size: 3rem;
            border: thin solid #444;
            height: 14rem;
            width: 5rem;
            margin: auto 0;
            padding-left: 1rem;
            cursor: pointer;

            span {
                display: inline-block;
                padding-top: 4.5rem;
            }

            &.prev {
                margin-left: -4rem;
                margin-right: 4rem;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }

            &.next {
                margin-left: 4rem;
                margin-right: -4rem;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:hover {
                color: #ddd;
                background-color: #393939;
            }
        }

        .c-foviewer__image,
        .c-foviewer__details {
            /* flex-basis: 48%; */
        }

        .c-foviewer__image img {
            max-width: 100%;
            max-height: 500px;
            margin-right: 4rem;
            /* margin: auto; */
        }

        .c-foviewer__details {
            display: flex;
            flex-direction: column;
            color: white;
            margin: auto 0;
            padding-left: 2rem;
            h2 {
                font-size: 1.6rem;
                margin-left: 2rem;
                text-indent: -2rem;
            }
            .info,
            .ids,
            .summary {
                margin: 0.5rem 0 0.5rem 2rem;
                font-size: 1.2rem;
            }

            .info {
                white-space: nowrap;
            }

            .info span {
                display: inline-block;
            }

            .info span:last-child::after {
                content: '';
            }
            .info span::after {
                content: '|';
                margin: 0 1rem;
            }

            .link {
                color: #aaa;
                background-color: #292929;
                border: 1px solid #888 !important;
                border-radius: 0.25em;
                background-clip: padding-box;
                box-shadow: none;
                font-weight: 400;
                letter-spacing: 0.275rem;
                padding: 1.2rem 1.5rem 1.1rem 2rem;
                max-width: 13rem;
                margin: 3rem auto 0 25%;

                &:hover {
                    color: #eee;
                    background-color: #393939;
                }
            }

            .link a {
                color: inherit;
            }
            .kmaprow {
                margin-left: 2rem;
                font-size: 1.2rem;
            }
            .kmaprow > .icon {
                display: inline-block;
                margin-right: 1rem;
            }
        } /* end .c-foviewer__details */
    }
}
