// Selected Image in Gallery

.sui-featureGallery-selectedImg {
    margin-bottom: -1rem;

    img {
        margin-bottom: -0.3rem !important;
    }
}

.sui-featureGallery-selectedImg:after {
    display: inline-block;
    width: 1rem;
    border: 12px solid #555;
    content: '';
    margin-left: 45%;
    border-top: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

// The DropDown / FoldOut Area
#FoldOutViewer {
    background-color: #222;
    padding: 2rem;
    position: relative;
    // Icons and arrows
    .c-foviewer__close {
        color: #888;
        font-size: 3rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
        &:hover {
            color: #ccc;
        }
        &:active {
            color: #eee;
        }
    }

    .c-foviewer__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 2rem;

        .arrow {
            color: #aaa;
            background-color: #292929;
            font-size: 3rem;
            border: thin solid #444;
            height: 14rem;
            width: 5rem;
            margin: auto 0;
            padding-left: 1rem;
            cursor: pointer;

            span {
                display: inline-block;
                padding-top: 4.5rem;
            }

            &.prev {
                margin-left: -4rem;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }

            &.next {
                margin-right: -4rem;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:hover {
                color: #ddd;
                background-color: #393939;
            }
        }

        .c-foviewer__image {
            text-align: center;
            margin: 0 auto;
        }

        .c-foviewer__image,
        .c-foviewer__details {
            flex-basis: 50%;
        }
        .c-foviewer__image img {
            max-width: 100%;
            max-height: 400px;
            margin-left: 2rem;
        }

        .c-foviewer__details {
            display: flex;
            flex-direction: column;
            color: white;
            margin: auto 0;
            padding-left: 0rem;
            margin-left: 2rem;
            /*width: 50%;*/

            h2 {
                font-size: 1.55rem;
                margin-left: 2rem;
                line-height: 2.4rem;
                span {
                    color: #ccc;
                    margin-right: 0.75rem;
                    font-size: 2rem;
                    position: relative;
                    top: 0.2rem;
                }
            }
            .info,
            .ids,
            .summary {
                margin: 0.5rem 0 0.5rem 2rem;
                font-size: 1.2rem;
            }

            .info {
                white-space: nowrap;
            }

            .info span {
                display: inline-block;
            }

            .info span:last-child::after {
                content: '';
            }
            .info span::after {
                content: '|';
                margin: 0 1rem;
            }

            .link {
                color: #eee;
                background-color: #000;
                border: 1px solid #888 !important;
                border-radius: 0.25em;
                background-clip: padding-box;
                box-shadow: none;
                font-weight: 400;
                font-size: 1.25rem;
                text-transform: uppercase;
                letter-spacing: 0.275rem;
                padding: 0;
                text-align: center;
                margin: 3rem 3rem 0;
                max-width: 25rem;
                &:hover {
                    color: #fff;
                    background-color: #202020;
                }
                &:active {
                    color: #fff;
                    background-color: #000;
                }
            }

            .link a {
                color: inherit;
                display: block;
                padding: 1rem;
                span {
                    font-size: 1.4rem;
                    position: relative;
                    top: 0.2rem;
                }
            }
            .kmaprow {
                margin-left: 2rem;
                font-size: 1.3rem;
            }
            .kmaprow > .icon {
                display: inline-block;
            }
            .icon::before {
                color: #eee;
                font-size: 1.6rem;
                margin-right: 1.3rem;
            }
        } /* end .c-foviewer__details */
    }
}
