.sui-termDefResource__header {
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-size: smaller;
}
.sui-termDefResource__content > button {
    margin-right: 1.6rem;
}
.sui-termDefResource__content > button.btn.btn-outline-dark {
    border-color: #4a5568;
}
.sui-termDefResource__content > button.btn.btn-outline-dark:hover {
    background-color: #4a5568;
}
.sui-termDefResource__content > button.btn.btn-outline-dark:hover span.icon {
    color: #f7fafc;
}
.sui-termDefResource__content > button.btn.btn-outline-dark .icon {
    margin-right: 0.8rem;
    vertical-align: -5%;
}
.sui-termDefResource__content > button.btn.btn-outline-dark span.btn-text {
    margin-right: 0.4rem;
}
.sui-termDefResource__content > button.btn.btn-outline-dark span.badge {
    background-color: #cbd5e0;
}
