.astviewer {
    padding: 1rem;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

a.dead,
a.dead:hover {
    color: inherit;
    text-decoration: none;
    cursor: default;
}
