.sui-termTitle {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 2.25rem;
    margin-right: 1.25rem;
}
.sui-termTitle .latin {
    margin-left: 0.25rem;
}

.sui-relatedSubHeader {
    font-size: 1.75rem;
    font-family: 'EB Garamond', serif;
    text-transform: capitalize;
}
