/**
    CSS rules for MandalaPopovers, included on all pages by call in App.js
 */
.kmap-tag-group {
    display: inline-block;
    white-space: nowrap;
}

.kmap-tag-group .deflinks {
    vertical-align: super;
    font-size: 80%;
}

.popover-link {
    background: #5a65d1;
    border: none;
    border-radius: 2px;
    /*height: 12.5px;
    width: 14.5px;*/
    color: white;
    padding: 0 0 0 1px;
    position: relative;
    left: 0;
    top: 0;
    margin: 0 0 0 8px;
    font-size: 10px;
    font-family: 'EB Garamond', serif;
}

.popover-link-tip {
    border-bottom: 0.5rem solid transparent;
    border-top: 0 solid transparent;
    border-right: 0.5rem solid #5a65d1;
    font-size: 0;
    position: relative;
    bottom: 10px;
    right: 5px;
    height: 0;
    width: 0;
}

.popover-link .icon {
    font-size: 8px;
    position: relative;
    right: 3px;
}

.popover-link .icon::before {
    color: white;
}

.related-resources-popover {
    font-size: 1.2em !important;
    line-height: 1.18em;
    width: 320px !important;
    max-width: 320px !important;
    font-style: normal;
    padding: 3px 3px 0px 3px;
    border-radius: 0.8rem !important;
}

.related-resources-popover .popover-title .kmid,
.related-resources-popover .popover-header .kmid {
    font-size: 0.8em;
    font-weight: 400;
    position: absolute;
    top: 0.3rem;
    right: 0.75rem;
}

.related-resources-popover .react-popover-body .kmdomain,
.related-resources-popover .react-popover-body .kmid {
    display: none;
}

.related-resources-popover .popover-body {
    padding: 0.5rem 0.5rem 0 !important;
}

.related-resources-popover .popover-body .desc {
    font-size: 1.22rem;
    letter-spacing: normal;
}

.related-resources-popover .popover-title,
.related-resources-popover .popover-header {
    display: block;
    font-size: 14px;
    padding: 10px 0 6px !important;
    margin: 0 14px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #444;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 1000;
}

.related-resources-popover .popover-title.bo,
.related-resources-popover .popover-header.bo {
    font-family: Jomolhari;
    font-size: 18px;
}

.related-resources-popover .desc p {
    font-size: 0.88em;
    line-height: 1.25em;
    color: #333;
}

.related-resources-popover .parents,
.related-resources-popover .other,
.related-resources-popover .defs {
    line-height: 1em;
    margin-top: 0.75rem;
}

.related-resources-popover .parents p,
.related-resources-popover .other p,
.related-resources-popover .defs p {
    line-height: 1.12em;
    margin-bottom: 0;
}

.related-resources-popover .parents strong,
.related-resources-popover .other strong,
.related-resources-popover .defs strong {
    color: #222;
    font-size: 0.93em;
    letter-spacing: 0.0275rem;
    margin-top: -0.12em;
}

.related-resources-popover .other strong:after {
    padding-right: 3px;
}

.related-resources-popover .parents strong::after,
.related-resources-popover .other strong::after,
.related-resources-popover .defs strong::after {
    content: ':';
    /*margin-right: 0.3rem;*/
}

.related-resources-popover .parents a,
.related-resources-popover .defs a {
    font-size: 0.93em;
    line-height: 1.32em;
    border-bottom-width: 0;
    display: inline;
    white-space: normal;
    color: #03038e;
}

.related-resources-popover .parents a::after {
    content: ' / ';
}

.related-resources-popover .parents a:last-child::after {
    content: '';
}

.related-resources-popover .parents a:hover,
.related-resources-popover .parents a:active,
.related-resources-popover .defs a:hover,
.related-resources-popover .defs a:active {
    color: #cf2f1e;
}

.related-resources-popover .termtypes {
    margin: 0.5em auto;
}

.related-resources-popover .other.featuretypes a,
.related-resources-popover .termtypes a {
    color: #03038e;
}

.related-resources-popover .other.featuretypes a:after,
.related-resources-popover .termtypes a:after {
    content: ', ';
}

.related-resources-popover .other.featuretypes a:last-child:after,
.related-resources-popover .termtypes a:last-child:after {
    content: '';
}

.popover-footer {
    margin: 10px -7px 1px;
    background: #333;
    border-radius: 0 0 0.8rem 0.8rem !important;
    background-clip: padding-box;
}

.popover-footer-button {
    background: #333;
    padding: 0 0 0 1.3rem;
    margin: 0;
}

.popover-footer-button:hover {
    color: #fff;
    background: #5a65d1;
}

.popover-footer-button:active {
    background-color: #424a9a;
}

.popover-footer-button a {
    color: #ddd;
    border-bottom: none;
    display: block;
    width: 100%;
    font-size: 1.16em;
    line-height: 1.2em;
    height: 2.2em;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif !important;
    font-weight: 400;
    padding-top: 0.5rem;
}

.popover-footer-button a:hover {
    color: #f0f0f0;
}

.popover-footer-button a:active {
    color: #fff;
}

.popover-footer-button a.icon::before {
    color: #fff;
    margin-right: 12px;
    font-size: 1.12em;
    position: relative;
    top: 0.25rem;
    left: 0.1rem;
    font-family: 'shanticon';
}

.popover-footer-button:hover .icon,
.popover-footer-button:active .icon {
    color: #fff;
    text-decoration: none;
}

.popover-footer-button:first-child {
    padding-bottom: 0.8rem;
}

.popover-footer-button:first-child .icon {
    text-transform: uppercase;
    font-size: 1.06em;
    line-height: 2.25em;
}

.popover-footer .popover-footer-button:first-child .icon::before {
    margin-right: 1.3rem;
    content: '\e629';
    position: relative;
    left: 0.2rem;
}

.popover-footer-button:last-child {
    border-radius: 0 0 0.8rem 0.8rem !important;
    background-clip: padding-box;
    height: 3.75rem;
}

.popover-footer .shanticon-link-external:before {
    color: #333333;
}

.popover-footer .shanticon-audio-video:before {
    color: #58aab4 !important;
}

.popover-footer .shanticon-images:before {
    color: #b49c59 !important;
}

.popover-footer .shanticon-sources:before {
    color: #5a57ad !important;
}

.popover-footer .shanticon-places:before {
    color: #6faaf1 !important;
}

.popover-footer .shanticon-subjects:before {
    color: #cc4c39 !important;
}

.popover-footer .shanticon-terms:before {
    color: #a2733f !important;
}

.popover-footer .shanticon-texts:before {
    color: #8b5aa1 !important;
}

.popover-footer .shanticon-visuals:before {
    color: #558e3c !important;
}
