/**
    CSS rules for MandalaPopovers, included on all pages by call in App.js
 */
.kmap-tag-group {
    display: inline-block;
    white-space: nowrap;
}
.kmap-tag-group .deflinks {
    vertical-align: super;
    font-size: 80%;
}
// icon button for hover-over -- Kmaps Popover
.popover-link {
    position: relative;
    left: 0;
    top: 4px;
    margin: 0 1rem 0 0.35rem;
    font-size: 2rem;
}
.popover-link .icon::before {
    color: $color-mandala;
}

// BEGIN Popover Container
.related-resources-popover {
    font-size: 1.25rem !important;
    line-height: 1.25em;
    width: 320px !important;
    max-width: 320px !important;
    font-style: normal;
    padding: 3px 3px 0px 3px;
    border-radius: 0.8rem !important;
}
.related-resources-popover .popover-title .kmid,
.related-resources-popover .popover-header .kmid {
    font-size: 0.8em;
    font-weight: 400;
    position: absolute;
    top: 0.3rem;
    right: 0.75rem;
}
.related-resources-popover .react-popover-body .kmdomain,
.related-resources-popover .react-popover-body .kmid {
    display: none;
}
.related-resources-popover .popover-body {
    padding: 0.5rem 0.5rem 0 !important;
    font-size: 1.32rem;
}
.related-resources-popover .popover-body .desc {
    font-size: 1.22rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
}
.related-resources-popover .popover-title,
.related-resources-popover .popover-header {
    display: block;
    font-size: 14px;
    padding: 10px 0 6px !important;
    margin: 0 14px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: $gray-800;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 1000;
}

.related-resources-popover .popover-title.bo,
.related-resources-popover .popover-header.bo {
    font-family: Jomolhari;
    font-size: 18px;
}

.related-resources-popover .desc p {
    font-size: 0.88em;
    //    line-height: 1.25em;
    //   color: $gray-700;
}

.related-resources-popover .parents,
.related-resources-popover .other,
.related-resources-popover .defs {
    //   line-height: 1em;
    //    margin-top: 0.75rem;
}

.related-resources-popover .parents p,
.related-resources-popover .other p,
.related-resources-popover .defs p {
    //   line-height: 1.12em;
    //    margin-bottom: 0;
}

.related-resources-popover .parents strong,
.related-resources-popover .other strong,
.related-resources-popover .defs strong {
    //   color: $gray-800;
    font-size: 0.93em;
    letter-spacing: 0.0275rem;
    //   margin-top: -0.12em;
}

.related-resources-popover .other strong:after {
    padding-right: 3px;
}

.related-resources-popover .parents strong::after,
.related-resources-popover .other strong::after,
.related-resources-popover .defs strong::after {
    content: ':';
    /*margin-right: 0.3rem;*/
}

.related-resources-popover .parents a,
.related-resources-popover .defs a {
    font-size: 0.93em;
    line-height: 1.32em;
    border-bottom-width: 0;
    display: inline;
    white-space: normal;
    //   color: $gray-700;
}

.related-resources-popover .parents a::after {
    content: ' / ';
}

.related-resources-popover .parents a:last-child::after {
    content: '';
}

.related-resources-popover .parents a:hover,
.related-resources-popover .parents a:active,
.related-resources-popover .defs a:hover,
.related-resources-popover .defs a:active {
    //  color: #cf2f1e;
}

.related-resources-popover .termtypes {
    margin: 0.5em auto;
}

.related-resources-popover .other.featuretypes a,
.related-resources-popover .termtypes a {
    //   color: #03038e;
}

.related-resources-popover .other.featuretypes a:after,
.related-resources-popover .termtypes a:after {
    content: ', ';
}
.related-resources-popover .other.featuretypes a:last-child:after,
.related-resources-popover .termtypes a:last-child:after {
    content: '';
}
.popover-footer {
    margin: 10px -7px 1px;
    border-radius: 0 0 0.8rem 0.8rem !important;
}
.popover-footer-button {
    background-color: $gray-900;
    padding: 0 0 0 1.3rem;
    margin: 0;
}
.popover-footer-button:hover {
    color: #fff;
    background-color: $color-mandala;
}
.popover-footer-button:active {
    background-color: $gray-800;
}
.popover-footer-button a {
    color: $gray-100;
    border-bottom: none;
    display: block;
    width: 100%;
    font-size: 1.06em;
    line-height: 1.2em;
    height: 2.5em;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    padding-top: 0.9rem;
    vertical-align: middle;
}
.popover-footer-button a:hover {
    color: #f0f0f0;
}
.popover-footer-button a.icon::before {
    color: #fff !important;
    margin-right: 12px;
    font-size: 1.12em;
    position: relative;
    top: 0.25rem;
    left: 0.1rem;
    font-family: 'shanticon', sans-serif;
}
.popover-footer-button:hover .icon,
.popover-footer-button:active .icon {
    color: #fff;
    text-decoration: none;
}
.popover-footer-button:first-child .icon {
    font-size: 1.06em;
}
.popover-footer .popover-footer-button:first-child .icon::before {
    margin-right: 1.3rem;
    content: '\e629';
    position: relative;
    left: 0.2rem;
}
.popover-footer-button:last-child {
    border-radius: 0 0 0.8rem 0.8rem !important;
    padding-bottom: 0.5rem;
}

.popover-footer .u-icon__link-external:before {
    //   color: #333333;
}
