/* RELATED */
.l-column__related__wrap {
    width: 17.5rem;
    height: 100vh;
    margin: 0;
    padding: 1rem 2rem;
    color: #4a5568;

    position: ABSOLUTE;
}

.l-column__related__wrap > * {
    margin-bottom: 3.2rem;
}

.sui-relatedHeader {
    text-transform: uppercase;
}

.sui-relatedSubHeader {
    text-transform: capitalize;
}

.sui-relatedSubHeader::before {
    content: ' / ';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sui-relatedImg {
    width: 150px;
    margin: 12px 0 12px 0;
    outline: 1px solid #999;
    outline-offset: 4px;
}

.c-relatedViewer {
    font-size: 14px;
    color: #222;
    padding: 0;
}

.c-related__list__item {
    cursor: pointer;
    padding: 6px 3px 3px 6px;
    border-radius: 4px;
    color: #000;
    font-weight: normal;
    display: block;
}

.c-related__list__item.selected {
    background: #f7f7f7;
}

.c-related__list__item:not(.selected):hover {
    background: #efefef;
}

.c-related__list a:hover {
    text-decoration: none;
}

.c-related__list--icon {
    border-color: transparent;
    height: 6px;
}

.c-related__list__item--label {
    text-transform: capitalize;
}

.sui-relatedRecent {
    font-size: 12px;
    color: #222;
    padding: 0;
    max-height: 84px;
    user-select: none;
    overflow-x: hidden;
    cursor: pointer;
    margin-right: 12px;
}

.sui-relatedRecentItem:hover {
    background-color: #a4baec;
}

.sui-recent {
    margin-top: 2em;
}
