/* RELATED */
.sui-related {
    position: absolute;
    top: 52px;
    left: 0;
    width: 17.5rem;
    height: 100%;
    margin: 8px 10px 8px 0.5px;
    /* background-color: #ddd;
    border: 1px solid #999; */
    border-radius: 6px;
    padding: 18px 0 0 12px;
    color: #4a5568;
    font-size: 1.44em;
}

.sui-related > * {
    margin-bottom: 3.2rem;
}

.sui-relatedImg {
    width: 150px;
    margin: 12px 0 12px 0;
    outline: 1px solid #999;
    outline-offset: 4px;
}

.sui-relatedList {
    font-size: 14px;
    color: #222;
    padding: 0;
}

.sui-relatedItem {
    cursor: pointer;
    padding: 6px 3px 3px 6px;
    border-radius: 4px;
    color: #000;
    font-weight: normal;
    display: block;
}

.sui-relatedItem.selected {
    background: #f7f7f7;
}

.sui-relatedItem:not(.selected):hover {
    background: #efefef;
}

.sui-relatedList a:hover {
    text-decoration: none;
}

.sui-relatedItem-icon {
    border-color: transparent;
    height: 6px;
}

.sui-relatedItem-label {
    text-transform: capitalize;
}

.sui-relatedRecent {
    font-size: 12px;
    color: #222;
    padding: 0;
    max-height: 84px;
    user-select: none;
    overflow-x: hidden;
    cursor: pointer;
    margin-right: 12px;
}

.sui-relatedRecentItem:hover {
    background-color: #a4baec;
}

.sui-relatedHeader {
    text-transform: uppercase;
}

.sui-relatedSubHeader {
    text-transform: capitalize;
}

.sui-relatedSubHeader::before {
    content: ' / ';
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sui-recent {
    margin-top: 2em;
}
