.sui-main {
    overflow-x: hidden;
    font-family: 'Open Sans', 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif, shanticon;
    font-weight: 400;
    text-rendering: optimizeSpeed;
    letter-spacing: 0.01rem;
    text-rendering: optimizeLegibility !important;
    background-color: #eee;
    height: 100vh;
}

.sui-content {
    background-color: #eee;
    overflow-x: hidden;
    position: relative;
    top: 0;
    height: inherit;
}

#sui-results,
.astviewer,
.astviewer.texts #shanti-texts-container {
    height: inherit !important;
}

.spinner-border-sm {
    margin: -2px 6px 0 20px;
    vertical-align: middle !important;
}

.shanticon {
    font-family: 'shanticon';
}

.tib,
.bo {
    letter-spacing: normal !important;
}

#shanti-texts-body .mandala-edit-link {
    /* display: none; */
}

#shanti-texts-body figure.image {
    margin: 0 1rem;
}

#shanti-texts-body figure.image figcaption {
    margin: 0.5rem 0 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 1.1rem;
    letter-spacing: 0;
}

#shanti-texts-body figure.image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.link-external {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 1.2rem;
    font-weight: normal;
}

/* Iframe Styles for pub reader and voyant */
iframe.full-page-frame {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.close-iframe {
    z-index: 5000;
    position: fixed;
    top: 8px;
    right: 8px;
    color: #777;
}

.close-iframe a {
    color: #777;
}

.close-iframe a:hover {
    color: red;
}

.full-page-frame {
    background-color: #fff;
}
