.sui-etymology__wrapper {
    margin-bottom: 3.2rem;
}
.sui-etymology__content {
    margin-left: 0;
}
.sui-etymology__content-items {
    margin-bottom: 0.8rem;
}
.sui-etymology__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}
