@import '../../../index-variables';

// JSON Dev Utility -
.card-body .c-button__json {
    position: absolute;
    bottom: 0.5rem;
    right: 1.35rem;
}

// Grid Card
.card-deck {
    display: flex;
    flex-wrap: wrap;
    // end fallback for flexbox
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 0.75rem;
    margin: 1.75rem 1rem 2rem;
}
.card-deck .card {
    flex: 1 1 15%;
    // end fallback for flexbox
    min-width: 20rem;
    max-width: 23.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0.2rem 0.5rem #ccc;
    border-top: 0.2rem solid rgba(205, 169, 66, 1);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin: 0 0.5rem 1rem;
    font-size: $font-size-default; // reset font size on cards with rem value
}
.card-deck .card:hover {
    box-shadow: 0 8px 15px 2px #c0c0c0;
}
.card-deck .card:active {
    box-shadow: 0 2px 5px #ccc;
}
.c-card__wrap--image {
    height: 13rem;
    overflow: hidden;
}
.card-image,
.card-img-top,
.c-card__grid__image--top {
    border-radius: 0;
    display: block;
}
.c-card__grid__glyph--type span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(142, 117, 46, 0.85);
    width: 35px;
    height: 32px;
    border-radius: 0 0 0 0.3rem;
    background-clip: padding-box;
    text-shadow: 0 0 1px #555;
    color: white;
    font-size: 1.06em;
    line-height: 1.88em;
    font-weight: normal;
    text-align: center;
    box-shadow: none;
    border: none;
}
.c-card__grid__glyph--asset {
    position: absolute;
    top: 4.5rem;
    left: 50%;
    margin-left: -1.5rem;
    z-index: 1;
    opacity: 0.4;
    font-size: 2em;
}
.c-card__grid__glyph--asset span {
    color: #aaa;
}
// ----------------------------------
// * BEGIN Card text content
.card-body {
    max-height: 25rem;
    min-height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.8rem 1rem 1rem;
    white-space: normal;
    word-break: break-word;
    position: relative;
    top: 0;
    background: white;
    z-index: 1;
    font-size: $font-size-default;
}

.card-title {
    margin: 0 0 0.5rem;
    font-size: 0.85rem;
    padding-top: 0.75rem;
}
.card-title a {
    font-size: 1.5em;
    line-height: 1.44em;
    padding: 0 0.75rem 0 0.25rem;
    font-weight: 600;
    word-break: break-word;
    border-bottom: none !important;
    display: inline-block;
    width: 100%;
}

.card-body .list-group {
    border-top: 1px solid rgba(205, 169, 66, 1);
    padding: 0.5rem 0;
}
.card-body .list-group-item {
    /*padding: 0.15rem 1.15rem 0.25rem 0.3rem;*/
    padding: 0.075rem;
    border: none;
    /*line-height: 0.88em;*/
}
.card-body .list-group-item:empty {
    padding: 0;
    border: none;
}

.card-deck .c-card__footer {
    background: $color-amber;
    height: 3rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 0;
    border: none;
    border-radius: 0 0 0.35rem 0.35rem;
}
.c-card__footer:hover {
    background-color: rgba(105, 79, 4, 0.85);
}
.c-card__footer:active {
    background-color: rgba(142, 117, 46, 0.85);
}
.c-card__footer a {
    color: #fff;
    border: none !important;
    padding: 0.6rem 0 0.5rem 1.2rem;
    line-height: 1em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    font-weight: 600;
    font-family: $font-family-sans;
}
.c-card__footer a:hover {
    background-color: transparent;
    color: #fff;
}
.c-card__footer .icon {
    color: #fff;
}
.c-card__footer .icon::before {
    margin-right: 0.2rem;
    font-size: 1.25em;
    position: relative;
    top: 0.25rem;
}
.c-card__footer .shanti-field-content {
    color: #fff;
}
.c-card__footer .shanti-field-path {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    display: block;
}
.c-card__footer .shanti-field-path .shanti-field-content:empty {
    display: none;
}
.c-card__footer .shanti-field-path span::before {
    /* this targets only kmaps info in footer */
    color: #fff;
    position: relative;
    top: 0.15rem;
}
.c-card__footer .u-icon__places {
    color: #fff;
}

.c-card__content-field a {
    font-weight: bold;
}
.c-card__listItem--related .c-card__content-field {
    display: inline;
    font-family: $font-family-sans;
}
.c-card__listItem--related .c-card__content-field::after {
    content: ','; // adding comma separators, with spacing margin
    display: inline-block;
    margin-right: 0.4rem;
}
.c-card__listItem--related .c-card__content-field:last-child::after {
    content: ''; // removing the last comma
}
.c-card__listItem--related .c-card__content-field > .icon::before {
    display: none; // removing the repeating icon preceding each list item
}
.c-card__listItem--related
    .c-card__content-field:first-of-type
    > .icon::before {
    display: inline-block; // adding the icon on the first list item only
}

// setup the icon at start of related asset lists
.c-smartRelateds__limited .shanti-field-place:first-child .icon::before {
    content: '\e62b'; // Places
}
.c-smartRelateds__limited .shanti-field-subjects:first-child .icon::before {
    content: '\e634'; // Subjects
}
.c-smartRelateds__limited .shanti-field-terms:first-child .icon::before {
    content: '\e635'; // Terms
}

.c-card__grid__glyph--type .icon::before {
    position: relative;
    top: 0.1rem;
}
/*
.c-card__grid-mandala .card__typeGlyph .icon,
.c-card__grid-audio-video .card__typeGlyph .u-icon__audio {
    background-color: $color-mandala;
}
.c-card__grid-audio-video .card__typeGlyph .u-icon__video {
    background-color: $color-audio-video;
}
.c-card__grid-images .card__typeGlyph .icon {
    background-color: $color-images;
}
.c-card__grid-places .card__typeGlyph .icon {
    background-color: $color-places;
}
.c-card__grid-subjects .card__typeGlyph .icon {
    background-color: $color-subjects;
}
.c-card__grid-sources .card__typeGlyph .icon {
    background-color: $color-sources;
}
.c-card__grid-terms .card__typeGlyph .icon {
    background-color: $color-terms;
}
.c-card__grid-texts .card__typeGlyph .icon {
    background-color: $color-texts;
}
.c-card__grid-visuals .card__typeGlyph .icon {
    background-color: $color-visuals;
}
*/
.c-card__content-field.shanti-field-type {
    //   font-size: 1em;
}

.c-card__content-field.shanti-field-type .icon {
    //   padding-left: 0.2rem;
}

.c-card__content-field.shanti-field-body {
    //    padding: 0.3rem 0.5rem 0.5rem;
    //    line-height: 1.25em;
    //   font-size: 0.88em;
}

.c-card__content-field.shanti-field-body p {
    //   margin-bottom: 0;
}

.shanti-field-itemcount,
.shanti-field-path,
.shanti-field-type,
.shanti-field-author,
.shanti-field-creator,
.shanti-field-registrar,
.shanti-field-languages,
.shanti-field-duration,
.shanti-field-created,
.shanti-field-place,
.shanti-field-subject {
    font-size: 1.18rem;
    //   font-family: $font-family-sans;
    font-weight: 400;
    line-height: 1.62em;
}
.c-smartRelateds__limited > div {
    line-height: 1.38em;
}

.shanti-field-itemcount span::before,
.shanti-field-path span::before,
.shanti-field-type span::before,
.shanti-field-author > span::before,
.shanti-field-creator > span::before,
.shanti-field-registrar > span::before,
.shanti-field-languages span::before,
.shanti-field-duration span::before,
.shanti-field-created span::before,
.shanti-field-place > span::before,
.shanti-field-subject > span::before {
    position: relative;
    top: 2px;
}
