/* Colors
// ========================================================================== */
$color-audio-video: #31acb6 !default;
$color-images: #b5953b !default;
$color-mandala: #4d59ca !default; /* theme primary color */
$color-places: #3297f7 !default;
$color-subjects: #cc4c39 !default;
$color-sources: #6f69ae !default;
$color-texts: #8c48a1 !default;
$color-terms: #b5953b !default;
$color-visuals: #558e3c !default;

html .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.75rem;
    justify-content: space-between;
    margin: 1rem 1rem 2rem;
}
html .card-deck .card {
    min-width: 200px;
    max-width: 235px;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 5px #ccc;
    border-top: 2px solid rgba(205, 169, 66, 1) !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin: 0.3rem 0.3rem 1rem;
    font-size: 1.5rem; // reset font size with rem value
}
html .card-deck .card:hover {
    //   transform: scale(1.001);
    box-shadow: 0 8px 15px 2px #c0c0c0;
}
html .card-deck .card:active {
    //   transform: scale(1);
    box-shadow: 0 2px 5px #ccc;
}
html .card-deck .card a {
}
html .card-deck .card a:hover {
    text-decoration: none;
    color: inherit;
}
.card__imageWrap {
    //   max-height: 110px;
    //   overflow: hidden;
}
html .card-image,
html .card-img-top {
    border-radius: 0;
    height: 130px;
}
html .card__typeGlyph span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(142, 117, 46, 0.85);
    width: 35px;
    height: 32px;
    border-radius: 0 0 0 0.3rem;
    background-clip: padding-box;
    text-shadow: 0 0 1px #555;
    color: white;
    font-size: 1.12em;
    line-height: 1.88em;
    font-weight: normal;
    text-align: center;
    box-shadow: none;
    border: none;
}
html .card__assetGlyph {
    position: absolute;
    top: 4.5rem;
    left: 50%;
    margin-left: -0.5em;
    z-index: 1;
    opacity: 0.4;
    font-size: 2em;
}
html .card__assetGlyph span {
    color: #555;
}
html .card-body {
    max-height: 180px;
    min-height: 100px;
    //   height:150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.8rem 1rem 1rem;
    white-space: normal;
    word-break: break-word;
}
html .card-title {
    margin: 0.65rem 0 0.5rem;
    font-size: 0.5em;
}
html .card-title a {
    color: #333;
    font-size: 1.44em;
    line-height: 1.44em;
    padding: 0 0.75rem;
    font-weight: 600;
    word-break: break-word;
    border-bottom: none !important;
    display: inline-block;
    width: 100%;
}
html .list-group {
    border-top: 1px solid rgba(205, 169, 66, 1);
    padding: 0.5rem 0;
}
html .list-group-item {
    /*padding: 0.15rem 1.15rem 0.25rem 0.3rem;*/
    padding: 0.075rem;
    border: none;
    /*line-height: 0.88em;*/
}
html .list-group-item:empty {
    padding: 0 !important;
    border: none !important;
}
html .card-footer {
    background: rgba(142, 117, 46, 0.85);
    height: 3rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 0 0.75rem 0 1rem;
    border: none;
    border-radius: 0 0 0.35rem 0.35rem !important;
}
html .card-footer:hover {
    background-color: rgba(105, 79, 4, 0.85);
}
html .card-footer:active {
    background-color: rgba(142, 117, 46, 0.85);
}
html .card-footer a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border: none !important;
    padding: 0.6rem 0 0.5rem;
    line-height: 1em;
}
html .card-footer a:hover {
    background-color: transparent;
    color: #fff !important;
}
html .card-footer .icon::before {
    margin-right: 0.2rem;
    font-size: 1.25em;
    position: relative;
    top: 0.25rem;
}
html .card-footer .shanti-field-path {
    color: #fff;
    padding-left: 0;
    font-family: 'Open Sans', 'Segoe UI', 'Lucida Grande', Tahoma, sans-serif;
}
.card-footer .shanti-field-path span::before {
    /* this targets only kmaps info in footer */
    color: #fff;
    position: relative;
    top: 0.15rem;
}

.c-button__json {
    position: absolute;
    bottom: 4.25rem;
    right: 1.35rem;
}

.c-card__listItem--related .c-card__content-field {
    display: inline;
}
.c-card__listItem--related .c-card__content-field::after {
    content: ',';
    display: inline-block;
}
.c-card__listItem--related .c-card__content-field > span::before {
    display: none;
}
.c-card__listItem--related .c-card__content-field:first-of-type > span::before {
    display: inline-block;
}

.c-card__grid-audio-video .card__typeGlyph span {
    background-color: $color-audio-video;
}
.c-card__grid-images .card__typeGlyph span {
    background-color: $color-images;
}
.c-card__grid-mandala .card__typeGlyph span {
    background-color: $color-mandala;
}
.c-card__grid-places .card__typeGlyph span {
    background-color: $color-places;
}
.c-card__grid-subjects .card__typeGlyph span {
    background-color: $color-subjects;
}
.c-card__grid-sources .card__typeGlyph span {
    background-color: $color-sources;
}
.c-card__grid-terms .card__typeGlyph span {
    background-color: $color-terms;
}
.c-card__grid-texts .card__typeGlyph span {
    background-color: $color-texts;
}
.c-card__grid-visuals .card__typeGlyph span {
    background-color: $color-visuals;
}

.shanti-field-itemcount,
.shanti-field-path,
.shanti-field-type,
.shanti-field-author,
.shanti-field-creator,
.shanti-field-registrar,
.shanti-field-languages,
.shanti-field-duration,
.shanti-field-created,
.shanti-field-place,
.shanti-field-subject {
    font-size: 1.18rem;
}
.shanti-field-itemcount span::before,
.shanti-field-path span::before,
.shanti-field-type span::before,
.shanti-field-author > span::before,
.shanti-field-creator > span::before,
.shanti-field-registrar > span::before,
.shanti-field-languages span::before,
.shanti-field-duration span::before,
.shanti-field-created span::before,
.shanti-field-place > span::before,
.shanti-field-subject > span::before {
    position: relative;
    top: 2px;
}

.c-card__content-field.shanti-field-type {
    font-size: 1em;
}

.c-card__content-field.shanti-field-type span {
    padding-left: 0.2rem;
}

.c-card__content-field.shanti-field-body {
    padding: 0.3rem 0.5rem 0.5rem;
    line-height: 1.25em;
    font-size: 0.88em;
}

.c-card__content-field.shanti-field-body p {
    margin-bottom: 0;
}
