@import './src/om-global-var.scss';

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.75rem;
    justify-content: space-between;
    margin: 1rem 1rem 2rem;
}
.card-deck .card {
    min-width: 200px;
    max-width: 235px;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 2px 5px #ccc;
    border-top: 2px solid rgba(205, 169, 66, 1) !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin: 0.3rem 0.3rem 1rem;
    font-size: $font-size-default; // reset font size on cards with rem value
}
.card-deck .card:hover {
    //   transform: scale(1.001);
    box-shadow: 0 8px 15px 2px #c0c0c0;
}
.card-deck .card:active {
    //   transform: scale(1);
    box-shadow: 0 2px 5px #ccc;
}

.card-deck .card a {
}
.card-deck .card a:hover {
    text-decoration: none;
    color: #df3d26;
}

.card-image,
.card-img-top {
    border-radius: 0;
    height: 130px;
}
.card__typeGlyph span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgba(142, 117, 46, 0.85);
    width: 35px;
    height: 32px;
    border-radius: 0 0 0 0.3rem;
    background-clip: padding-box;
    text-shadow: 0 0 1px #555;
    color: white;
    font-size: 1.06em;
    line-height: 1.88em;
    font-weight: normal;
    text-align: center;
    box-shadow: none;
    border: none;
}
.card__assetGlyph {
    position: absolute;
    top: 5.25rem;
    left: 50%;
    margin-left: -0.5em;
    z-index: 1;
    opacity: 0.4;
    font-size: 2em;
}
.card__assetGlyph span {
    color: #555;
}

.card-body {
    max-height: 250px;
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.8rem 1rem 1rem;
    white-space: normal;
    word-break: break-word;
    position: relative;
    top: 0;
    background: white;
    z-index: 1;
    font-size: $font-size-default;
}

.card-title {
    margin: 0 0 0.5rem;
    font-size: 0.5em;
    padding-top: 0.75rem;
}
.card-title a {
    font-size: 1.5em;
    line-height: 1.44em;
    padding: 0 0.75rem 0 0.25rem;
    font-weight: 600;
    word-break: break-word;
    border-bottom: none !important;
    display: inline-block;
    width: 100%;
}

.card-body .list-group {
    border-top: 1px solid rgba(205, 169, 66, 1);
    padding: 0.5rem 0;
}
.card-body .list-group-item {
    /*padding: 0.15rem 1.15rem 0.25rem 0.3rem;*/
    padding: 0.075rem;
    border: none;
    /*line-height: 0.88em;*/
}
.card-body .list-group-item:empty {
    padding: 0;
    border: none;
}

.card-deck .card-footer {
    background: $color-amber;
    height: 3rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 0;
    border: none;
    border-radius: 0 0 0.35rem 0.35rem;
}
.card-footer:hover {
    background-color: rgba(105, 79, 4, 0.85);
}
.card-footer:active {
    background-color: rgba(142, 117, 46, 0.85);
}
.card-footer a {
    color: #fff;
    border: none !important;
    padding: 0.6rem 0 0.5rem 1.2rem;
    line-height: 1em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    font-weight: 600;
    font-family: $font-family-sans;
}
.card-footer a:hover {
    background-color: transparent;
    color: #fff;
}
.card-footer .icon {
    color: #fff;
}
.card-footer .icon::before {
    margin-right: 0.2rem;
    font-size: 1.25em;
    position: relative;
    top: 0.25rem;
}
.card-footer .shanti-field-content {
    color: #fff;
}
.card-footer .shanti-field-path {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    display: block;
}
.card-footer .shanti-field-path .shanti-field-content:empty {
    display: none;
}
.card-footer .shanti-field-path span::before {
    /* this targets only kmaps info in footer */
    color: #fff;
    position: relative;
    top: 0.15rem;
}
.card-footer .u-icon__places {
    color: #fff;
}

.card-body .c-button__json {
    position: absolute;
    bottom: 0.5rem;
    right: 1.35rem;
}

.c-card__content-field a {
    font-weight: $font-weight-sans-bold;
}
.c-card__listItem--related .c-card__content-field {
    display: inline;
    font-family: $font-family-sans;
}
.c-card__listItem--related .c-card__content-field::after {
    content: ','; // adding comma separators, with spacing margin
    display: inline-block;
    margin-right: 0.4rem;
}
.c-card__listItem--related .c-card__content-field:last-child::after {
    content: ''; // removing the last comma
}
.c-card__listItem--related .c-card__content-field > .icon::before {
    display: none; // removing the repeating icon preceding each list item
}
.c-card__listItem--related
    .c-card__content-field:first-of-type
    > .icon::before {
    display: inline-block; // adding the icon on the first list item only
}

// setup the icon at start of related asset lists
.c-smartRelateds__limited .shanti-field-place:first-child .icon::before {
    content: '\e62b'; // Places
}
.c-smartRelateds__limited .shanti-field-subjects:first-child .icon::before {
    content: '\e634'; // Subjects
}
.c-smartRelateds__limited .shanti-field-terms:first-child .icon::before {
    content: '\e635'; // Terms
}

.card__typeGlyph .icon::before {
    position: relative;
    top: 0.1rem;
}
.c-card__grid-mandala .card__typeGlyph .icon {
    background-color: $color-mandala;
}
.c-card__grid-audio-video .card__typeGlyph .icon {
    background-color: $color-audio-video;
}
.c-card__grid-images .card__typeGlyph .icon {
    background-color: $color-images;
}
.c-card__grid-places .card__typeGlyph .icon {
    background-color: $color-places;
}
.c-card__grid-subjects .card__typeGlyph .icon {
    background-color: $color-subjects;
}
.c-card__grid-sources .card__typeGlyph .icon {
    background-color: $color-sources;
}
.c-card__grid-terms .card__typeGlyph .icon {
    background-color: $color-terms;
}
.c-card__grid-texts .card__typeGlyph .icon {
    background-color: $color-texts;
}
.c-card__grid-visuals .card__typeGlyph .icon {
    background-color: $color-visuals;
}

.c-card__content-field.shanti-field-type {
    //   font-size: 1em;
}

.c-card__content-field.shanti-field-type .icon {
    //   padding-left: 0.2rem;
}

.c-card__content-field.shanti-field-body {
    //    padding: 0.3rem 0.5rem 0.5rem;
    //    line-height: 1.25em;
    //   font-size: 0.88em;
}

.c-card__content-field.shanti-field-body p {
    //   margin-bottom: 0;
}
