.sui-audioPlayer {
    margin-bottom: 3.2rem;
}
.sui-audioPlayer__button {
    background: transparent;
    border: 1px solid #d48130;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sui-audioPlayer__button:focus {
    outline: 0;
}
.sui-audioPlayer__icon {
    background: #a2733f;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #fff;
    padding-top: 3.5px;
}
.sui-audioPlayer__select {
    margin-left: 1.6rem;
    background: #eee;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 6px;
    color: #2d3748;
}
