// --------------------------------------
// * CONTENT SECTION: Content Header
// --------------------------------------
.c-content__header__main {
    padding: 0.7rem 0 0;
    height: 5.5rem;
    color: #fff;
}
.c-content__header__main__title {
    margin: 0 0 0 1.5rem;
    font-size: 2rem;
    line-height: 1;
}
.c-content__header__main__title .icon {
    margin-right: 0.75rem;
    position: relative;
    top: 0.1rem;
    color: #fff;
}
.c-content__header__main__id {
    font-style: italic;
    position: absolute;
    right: 2rem;
    top: 4.75rem;
    display: none;
}
.c-content__header__main__sub {
    font-style: italic;
    font-size: 1.2rem;
    color: #aaa;
    display: none;
}

// Breadcrumbs
.c-content__header__breadcrumb {
    background-color: transparent;
    font-size: 1.275rem;
    padding: 0;
    margin: 0.25rem 0 0.25rem 1.5rem;
}
.c-content__header__breadcrumb,
.c-content__header__breadcrumb .breadcrumb-item {
    color: #fff;
}
.c-content__header__breadcrumb .breadcrumb-item {
    padding: 0 0.75rem 0;
    border-bottom: 1px solid transparent;
}
.c-content__header__breadcrumb .breadcrumb-item:hover {
    border-bottom-color: #ddd;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '';
}
