// --------------------------------------
// * CONTENT SECTION: Content Header
// --------------------------------------

.c-contentHeader__main {
    padding: 0.25rem 0 0.75rem;
    width: 100vw;
    height: 6.5rem;
}
.c-contentHeader,
.c-contentHeader__main__title {
    color: #fff;
    margin: 0 0 0 1.5rem;
}
.c-contentHeader__main__title {
    font-size: 2.25em;
}
.c-contentHeader__main__title .icon {
    margin-right: 0.75rem;
    position: relative;
    top: 0.3rem;
}
.c-contentHeader__main__id {
    font-style: italic;
    color: #eee;
    position: absolute;
    right: 2rem;
    top: 8rem;
}
.c-contentHeader__main__sub {
    font-style: italic;
    font-size: smaller;
    color: #aaaaaa;
    display: none;
}

.c-contentHeader__breadcrumb {
    background-color: transparent;
    font-size: 1.275rem;
    padding: 0;
    margin: 0.75rem 0 0.25rem 1.5rem;
}
.c-contentHeader__breadcrumb,
.c-contentHeader__breadcrumb a {
    color: #fff;
}
.c-contentHeader__breadcrumb a {
    padding: 0 0.75rem 0 0;
}
// gallery display buttons for view options
.c-buttoneGroup__viewMode {
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
}
