.c-image {
    border-top: 2px solid #eee;

    margin-top: -1rem;
    margin-left: -1rem;
}
.c-image__context {
    padding-left: 0;
    padding-right: 0;
    border-top: 0.3rem solid #b49c59;
    max-width: 83vw;
}
.c-image {
    //  background-color: #fafafa;
}
.c-image__viewer {
    background-color: #222222;
    border-bottom: 10px solid #b49c59;
    width: 100%;

    .c-image__viewer-row {
        /*  padding-top: 35px;*/
        margin-bottom: 0;
        // text-align: center;
        .page-control span {
            display: inline-block;
            //  position: absolute;
            position: relative;
            top: 45%;
            color: #555;
            font-size: 3rem;
            cursor: pointer;
            @media (max-width: 1440px) {
                //  margin-top: 110%;
            }
        }
        .page-control span:hover {
            color: #ddd;
        }
        .page-control span:hover {
            font-weight: bolder;
        }
        .page-control.before span {
            margin-left: 89%;
            margin-right: 0;
            @media (max-width: 1440px) {
                margin-left: 78%;
            }
        }

        .prev-arrow.disabled,
        .next-arrow.disabled {
            color: #333;
            cursor: default;

            &:before {
                color: #333;
                cursor: default;
            }
        }
    }
    .c-osdviewer {
        position: relative;
        height: 50rem;
        margin: 3rem auto 1rem;
        text-align: center;
        min-width: 35vw;
    }
    .react-iiif-viewer,
    .c-osdviewer {
        .fullscreen {
            position: absolute;
            /*  left: 47%; */
            top: -40px;
        }
        button {
            font-weight: bold;
            background: transparent;
            color: white;
        }
        button svg {
            display: none;
        }
        button span {
            color: #999;
            font-size: 1.75rem;
        }
        button span:hover {
            color: #ddd;
        }
        .zoom button {
            border: none;
            border-bottom: none !important;
        }
    }
    .c-image__caption {
        color: white;
        text-align: center;
        letter-spacing: 0.15rem;
    }
    .c-image__title {
        margin-top: 0px;
        color: white;
        letter-spacing: 0.15rem;
        font-size: 1.5rem;
        span {
            color: #c0c0c0;
            padding-right: 1rem;
            vertical-align: sub;
            font-size: 2rem;
        }
    }
    .c-image__byline {
        font-size: 1.25rem;
    }
    .c-image__byline span {
        margin: 0 6px;
    }
    .c-image__carousel {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 2rem 0 0 3rem;
        max-width: 81vw;
        .thumb {
            display: inline-block;
            height: 100px;
            margin: 0 0.15rem 1rem;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid transparent;
            img {
                height: 100%;
            }
            &:hover {
                border-color: #ccc;
            }
            &:active {
                border-color: transparent;
            }
        }

        .thumb.current {
            border-width: 2px;
            border-color: white;
        }
    }
}

.c-image__metadata {
    font-size: 1.25rem;
    max-width: 120rem;
    margin: 8px auto 9rem;
    hr {
        border-top: 2px solid #dddddd;
    }
    .l-top.row .l-first.col {
        padding-left: 2rem;
    }
    .l-top.row .l-first.col {
        padding-left: 5rem;
    }
    .l-top.row span[class*='u-icon']:not(.u-icon__kmaps-popover) {
        font-size: 1.32em;
    }
    .l-second.col {
        border-left: 2px solid #dddddd;
    }
    h5.c-image__colhead {
        font-size: 1.32em;
        letter-spacing: 0.0475rem;
        text-transform: uppercase;
        margin-top: 0.75rem;
    }
    .u-data.row {
        line-height: 3rem;
    }
    span[class*='u-icon'] {
        padding-right: 4px;
        font-size: 1.25em;
    }
    .u-icon__kmaps-popover {
        font-size: 1.06em !important;
    }
    .u-visibility {
        &:before {
            margin-left: 4px;
            content: '(';
        }
        &:after {
            content: ')';
        }
    }
    .l-meta.row {
        min-height: 400px;
        margin: 2rem 1rem 0;
        border: 1px solid #ddd;
        border-top: 4px solid #b49c59;
        color: #000000;
        background-color: white;
        padding: 2rem 1rem 5rem;
        box-shadow: 0 24rem 32rem 20rem rgba(150, 150, 150, 0.1);
    }
    .c-image__metatitle {
        color: #777;
        letter-spacing: 0.1rem;
    }
    .c-image__caprow {
        margin-bottom: 1rem;
    }
    .o-desc__title {
        font-weight: bold;
    }
    .o-desc__byline {
        text-align: right;
        margin-top: -0.5rem;
        font-size: 90%;
        font-style: italic;
        &:before {
            content: 'by ';
        }
        &.noauthor:before {
            content: '';
        }
    }
}

.u-bo {
    font-family: Jomolhari, 'Tibetan Machine Uni', sans;
    font-size: 130%;
}

.u-label {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif, shanticon;
    font-weight: 400;
    letter-spacing: 0.0475rem;
    text-transform: uppercase;
}

.u-value {
    font-family: 'EB Garamond', serif;
    font-size: 125%;
}

.u-icon__copyright:before {
    content: '© ';
    font-size: 1.8rem;
}

.t-overwrap-any {
    overflow-wrap: anywhere;
    display: inline-block;
    line-height: 2.2rem;
}

@media only screen and (max-width: 1400px) {
    .c-image__context {
        max-width: 77vw;
    }

    .c-image__viewer .c-image__carousel {
        width: calc(77vw - 100px);
    }
}
@media only screen and (max-width: 1140px) {
    .c-image__context {
        max-width: 75vw;
    }
}
@media only screen and (min-width: 2000px) {
    .c-image__context {
        max-width: 86vw;
    }
}
