@import '../../../index-variables';

.l-column__related {
    width: 20%;
    max-width: 35rem;
    min-width: 20rem;
    height: 100vh;
    margin: 0 0 0 -20rem;
    padding: 0;
    transition: margin, 0.3s;
    flex: none;
}
.l-column__related__wrap {
    padding-top: 0.5rem;
}
.l-related__list__wrap .icon {
    margin-right: 0.75rem;
    position: relative;
    top: 0.125rem;
    /* color: #555; */
    font-size: 1.6rem;
}
.l-related__list__wrap .u-icon__logo-shanti {
    font-size: 1.75rem;
}
.l-related__list__wrap .u-icon__overview {
    margin-left: 0.1rem;
}

.l-column__list__wrap .l-terms__tree__wrap .fancytree-title {
    color: #000 !important;
}

.l-column__list__wrap .l-terms__tree__wrap .popover-link {
    margin-left: 0.15rem;
    top: 0.5rem;
}

@media (min-width: 992px) {
    .l-column__related {
        margin-left: -1rem;
    }
}

/**
  * css brought from searchui.css
  */
/*
.l-related__list__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 168px;
    background-color: #ddd;
    border-left: 12px solid transparent;
    padding: 18px 0 0 12px;
    color: #000;
}
.sui-relatedImg {
    width: 150px;
    margin: 12px 0 12px 0;
    outline: 1px solid #999;
    outline-offset: 4px;
}
.c-relatedViewer {
    font-size: 1.4rem;
    color: #222;
    padding: 0;
}
.c-related__item {
    cursor: pointer;
    padding: 6px 3px 3px 6px;
    border-radius: 4px;
    color: #000;
    font-weight: normal;
}
.sui-relatedRecent {
    font-size: 12px;
    color: #222;
    padding: 0;
    max-height: 84px;
    user-select: none;
    overflow-x: hidden;
    cursor: pointer;
    margin-right: 12px;
}
.sui-relatedRecentItem:hover {
    background-color: #a4baec;
}
*/
/**
  * END ---------------------
  * This code needs to be integrated with css below
  * css brought from searchui.css
  */

.c-relatedViewer {
    padding: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}
.c-relatedViewer > * {
    padding: 0 1rem 0 2rem;
}
.c-related__item {
    display: block;
    line-height: 1.5;
    padding: 0 0 0.4rem 0.75rem;
    color: #555;
    font-weight: bold;
    border: 1px solid transparent;
}
.c-related__item.selected {
    background: #fff;
    border-color: #ddd;
}
.c-relatedViewer #sui-rln-places {
    font-size: 1.15rem;
}
.c-relatedViewer #sui-rln-places::before {
    content: '(';
    position: relative;
    left: -0.15rem;
    font-size: 120%;
    color: #999;
    font-weight: normal;
}
.c-relatedViewer #sui-rln-places::after {
    content: ')';
    position: relative;
    right: -0.15rem;
    font-size: 120%;
    color: #999;
    font-weight: normal;
}
.c-related__link--home {
    padding-top: 0.4rem;
    line-height: 1.25;
    margin-bottom: 0.25rem;
}
.c-related__item:not(.selected):hover {
    background: #fff;
}
.c-related__list--icon {
    border-color: transparent;
    height: 6px;
}
.c-related__item__label {
    text-transform: capitalize;
    margin-right: 0.8rem;
}

.u-related__list__header {
    padding: 1rem 0 0.25rem 0.5rem;
    margin: 0 1rem 0.8rem;
    font-size: 1.25rem;
    color: #111;
    letter-spacing: 0.075rem;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
.l-related__list__wrap > .u-related__list__header {
    padding-top: 0;
}

.l-terms__tree__wrap .view-wrap {
    padding: 0 1.2rem !important;
}
.l-terms__tree__wrap .fancytree-container {
    border: 1px solid #ddd !important;
    box-shadow: inset 0 0 8px #ddd;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: auto;
    max-height: 50rem;
    background-color: #fff !important;
}
.l-terms__tree__wrap .fancytree-container li {
}
.l-terms__tree__wrap .fancytree-node {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    outline: none;
}
.l-terms__tree__wrap .fancytree-exp-nl .fancytree-title::before,
.l-terms__tree__wrap .fancytree-exp-n .fancytree-title::before {
    content: '–' !important;
    margin-right: 0.75rem !important;
    font-weight: bold !important;
    background-color: transparent;
}
.l-terms__tree__wrap .fancytree-exp-nl:hover .fancytree-title::before,
.l-terms__tree__wrap .fancytree-exp-n:hover .fancytree-title::before {
    background: transparent !important;
}
.l-terms__tree__wrap .fancytree-expander {
    margin-right: 0.9rem;
    color: $color-terms !important;
}

/*
.sui-relatedRecent {q
    font-size: 12px;
    color: #222;
    padding: 0;
    max-height: 84px;
    user-select: none;
    overflow-x: hidden;
    cursor: pointer;
    margin-right: 12px;
}

.sui-relatedRecentItem:hover {
    background-color: #a4baec;
}

.sui-recent {
    margin-top: 2em;
}

.sui-relatedHeader {
    text-transform: uppercase;
}
.sui-relatedSubHeader {
    text-transform: capitalize;
}
.sui-relatedSubHeader::before {
    content: ' / ';
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.sui-relatedImg {
    width: 150px;
    margin: 12px 0 12px 0;
    outline: 1px solid #999;
    outline-offset: 4px;
}
*/

.sui-relatedHeader {
    text-transform: uppercase;
    margin: 0.75rem 0 0;
}

.l-history__list__wrap .u-related__list__header {
    margin-bottom: 0.75rem;
}

/* Related Icons Styles */
.c-relateds-icons {
    margin-top: 1rem;
    li {
        display: inline-block;
        margin-right: 1.25rem;
        padding: 0;
    }

    li > div {
        display: inline-block;
        background: #ddd;
        border-radius: 0.2rem;
        background-clip: padding-box;
        width: 2.8rem;
        height: 2.8rem;
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    li.audio-video a {
        background-color: $color-places;
    }
    li.images a {
        background-color: $color-images;
    }
    li.sources a {
        background-color: $color-sources;
    }
    li.texts a {
        background-color: $color-texts;
    }
    li.visuals a {
        background-color: $color-visuals;
    }
    li.places a {
        background-color: $color-places;
    }
    li.subjects a {
        background-color: $color-subjects;
    }
    li.terms a {
        background-color: $color-terms;
    }

    a {
        border: none !important;
        background: #777;
        color: #222;
        margin: 0.3rem;
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        text-align: center;
        filter: alpha(opacity=90);
        opacity: 0.9;
        border-radius: 0.15rem;
        box-shadow: 0 0 0.2rem 0.1rem #fff;
    }

    span.icon {
        font-size: 0.93em;
        position: relative;
        width: 100%;
        top: -0.1rem;
        color: #fff;
        text-align: center;
    }

    span.kmaps-results-name {
        display: none;
    }

    span.badge {
        vertical-align: top;
    }
}

.l-column__related .fancytree-node:not(.fancytree-active):hover,
.l-column__related .fancytree-node:not(.fancytree-active):active {
    background-color: #ffffff !important;
}
