.sui-termsDetails__wrapper {
    margin: 0 1.5rem 2rem;
}
.sui-termsDetails__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.sui-termsDetails__list-item {
    flex: 1 0 100%;
    line-height: 2.25rem;
}
@media (min-width: 768px) {
    .sui-termsDetails__list-item {
        flex: 1 0 45%;
    }
}
.sui-termsDetails__li-subjects {
    font-style: italic;
}
