// --------------------------------------
// * TOP BANNER: Site Header
// --------------------------------------

.c-site__header {
    height: 40px;
    padding: 0;
    background: #fff;
    display: flex;
}
.c-site__header-standalone {
    height: 40px;
    padding: 0;
    background: #fff;
    display: none;
}
.navbar-brand {
    display: inline-block;
}
.navbar-brand img {
    position: relative;
    top: -0.2rem;
}
.navbar-brand h1 {
}
.c-site__header h1 {
    font-size: 2rem;
    display: inline;
    margin: 0 0 0 2rem;
    padding: 0;
    line-height: 1.75;
}
.c-site__header > nav {
    flex: 1 1;
    /* padding: 0;
    font-size: 1.5rem;*/
}
.c-site__header .navbar-collapse {
    justify-content: center;
}

.c-site__search {
    //   align-items: center;
    //   justify-content: flex-end;
    //   flex:1;
    display: flex;
    //   max-width: 250px;
    margin-right: 3rem;
}
.c-site__search > * {
    display: inline;
}

.sui-search2 {
    width: 20rem;
}

.l-search__input__buttons {
    position: relative;
    left: -2rem;
    top: 0.1rem;
}

.sui-search3 {
    font-size: 2rem;
    color: #999;
    cursor: pointer;
}
// --------------------------------------------------------
// TOP BANNER ---- Headroom ------ script/css testing
// --------------------------------------------------------
html,
body {
    /* scroll-padding-top: 4rem; set to the height of header */
}
.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
    will-change: transform;
    transition: transform 350ms ease-in-out;
}
.headroom--scrolled {
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    //   display: none;
    visibility: hidden;
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0);
    display: block;
}
.headroom--top {
}
.headroom--top,
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
// --------------------------------------
// END of Headroom script/css testing
// ----------------------
