#l-site__wrap.av {
    /*   width: 98.9vw; */
}
#av-viewer {
    max-width: 180rem;
    margin: 0 auto;
}
.av .c-columnContent__main {
    overflow-x: hidden;
}
.av .c-content__header__main__sub {
    display: block;
    font-style: italic;
    font-size: 1.3rem;
    margin: 0.5rem 0 0 2rem !important;
    cursor: pointer;
    color: white;
    display: none; /* temp */
}
.av .c-content__header__main__sub a {
    text-transform: capitalize;
}
.av .c-content__header__main__sub a:hover {
    color: #fff;
    text-decoration: none;
}
.av .c-content__header__main__sub a.self {
    cursor: default;
}
.av .c-content__header__main__sub a.self:hover {
    color: #eee;
    text-decoration: none;
}

#sui-av,
#av-meta-row {
    overflow: visible;
    margin-top: 2rem !important;
    width: 98%;
    max-width: 200rem;
    margin: 0 auto;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif, shanticon;
}
.c-content__main__kmaps #av-meta-row {
    margin: 0;
}
#sui-viewerSide {
    padding-top: 1rem;
    padding-left: 2.5rem;
    max-width: 90rem;
}
.c-content__main__kmaps #sui-viewerSide {
    padding: 0;
}
#sui-kplayer {
    width: 100%;
    max-width: 85rem;
    height: 50rem;
    margin-bottom: 1rem;
}

#av-player-row {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto;
}

div#av-trscrpt-wrapper {
    height: inherit;
    letter-spacing: 0;
}

#av-trscrpt-wrapper #sui-trans {
    height: 90%;
}

#av-player-row .sui-sourceText,
#sui-viewerSide p {
    overflow-wrap: break-word;
}

#av-meta-row {
    margin: 0 auto;
}

#av-meta-row .nav-tabs a {
    line-height: 3rem;
    width: 50%;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(88, 170, 180);
}

#av-meta-row .nav-tabs a {
    color: white;
}

#av-meta-row .nav-tabs a.active {
    background-color: white;
    border: 2px solid rgb(88, 170, 180);
    color: rgb(88, 170, 180);
    font-weight: bold;
    border-bottom: none;
}

#av-meta-row .tab-content .tab-pane {
    padding: 1.2rem 2.4rem;
    min-height: 50rem;
    background-color: #fff;
    border: 2px solid rgb(88, 170, 180);
    border-top: none;
    width: 100%;
    margin-right: 0.6rem;
}

.sui-popover {
    padding: 0;
}

.sui-popover-body {
    padding: 1.2rem;
}

#sui-popbot {
    width: 100%;
    padding: 12px 12px 1px;
    margin: 0;
    background-color: #333;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
    color: #ddd;
    cursor: pointer;
}

#sui-popbot .sui-popItem p {
}

#av-trscrpt-wrapper .row {
    margin: 0px;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls {
    height: 48px;
    width: 99.7%;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls .sui-transTab {
    height: 52px;
    padding-top: 1.4rem;
}
#av-trscrpt-wrapper .av-trscrpt-ctrls .sui-transTab {
    font-size: 2rem;
}
#av-trscrpt-wrapper .av-trscrpt-ctrls #sui-transTab1 {
    font-size: 1.75rem;
}

/** Thumbnail Styles **/
.av #meta-mlt {
    margin-top: 0.5rem;
}

div#meta-details p {
    margin: 0;
}

div#meta-details p b {
    width: 15em !important;
    display: inline-block;
    border-right: 2px solid #ddd;
    margin-right: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: -3px;
    padding-top: 3px;
}

div#meta-details p b:after {
    content: '';
}

.av .u-bo {
    color: #222;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Babelstone', 'Jomolhari-ID', 'Jomolhari', 'Noto Sans Tibetan',
        'Tibetan Machine Uni', 'Kailasa', 'Uchen_05', 'Microsoft Himalaya' !important;
    font-size: 150%;
    line-height: 140%;
    vertical-align: middle;
}

.av .u-sa {
    color: #222;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial Unicode MS', 'open_sansregular', 'siddhanta_deva',
        'Noto Sans', sans-serif;
    font-size: 125%;
}

.av .u-zh {
    color: #222;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    font-size: 120%;
}

#av-meta-row .nav-tabs a.active,
#av-meta-row .tab-content .tab-pane {
    border-width: 0.15rem;
}
