#l-wrapAll.av {
    width: 98.9vw;
}

div#av-viewer {
    max-width: 1800px;
    margin: 0 auto;
}

.av .c-columnContent__main {
    overflow-x: hidden;
}

.av .c-contentHeader__main__sub {
    display: block;
    font-style: italic;
    font-size: 13px;
    margin: 5px 0 0 2rem !important;
    cursor: pointer;
    color: white;

    display: none; /* temp */
}

.av .c-contentHeader__main__sub a {
    text-transform: capitalize;
}

.av .c-contentHeader__main__sub a:hover {
    color: #fff;
    text-decoration: none;
}

.av .c-contentHeader__main__sub a.self {
    cursor: default;
}

.av .c-contentHeader__main__sub a.self:hover {
    color: #eee;
    text-decoration: none;
}

.av .c-contentHeader__main__sub a:not(:last-child):after {
    /*    content: ' > ';
    display: inline-block;
    padding-left: 3px;
    position: relative; */
}

.av .sui-breadCrumbs {
    /*   display: none; */
}

#sui-av,
#av-meta-row {
    overflow: visible;
    margin-top: 2rem !important;
    width: 98%;
    max-width: 2000px;
    margin: 0 auto;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif, shanticon;
}

#sui-viewerSide {
    padding-top: 10px;
    padding-left: 2.5rem;
    max-width: 900px;
}

#sui-kplayer {
    width: 100%;
    max-width: 850px;
    height: 500px;
}

#av-player-row {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto;
}

div#av-trscrpt-wrapper {
    height: inherit;
    letter-spacing: 0;
}

#av-trscrpt-wrapper #sui-trans {
    height: 90%;
}

#av-player-row .sui-sourceText,
#sui-viewerSide p {
    overflow-wrap: break-word;
}

#av-meta-row {
    margin: 0px auto;
}

#av-meta-row .nav-tabs a {
    height: 36px;
    width: 50%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(88, 170, 180);
}

#av-meta-row .nav-tabs a {
    color: white;
}

#av-meta-row .nav-tabs a.active {
    background-color: white;
    border: 2px solid rgb(88, 170, 180);
    color: rgb(88, 170, 180);
    font-weight: bold;
    border-bottom: none;
}

#av-meta-row .tab-content .tab-pane {
    padding: 12px 24px;
    min-height: 500px;
    background-color: #fff;
    border: 2px solid rgb(88, 170, 180);
    border-top: none;
    width: 100%;
    margin-right: 6px;
}

.sui-popover {
    padding: 0px;
}

.sui-popover-body {
    padding: 12px;
}

#sui-popbot {
    width: 100%;
    padding: 12px 12px 1px;
    margin: 0;
    background-color: #333;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
    color: #ddd;
    cursor: pointer;
}

#sui-popbot .sui-popItem p {
}

#av-trscrpt-wrapper .row {
    margin: 0px;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls {
    height: 48px;
    width: 99.7%;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls .sui-transTab {
    height: 52px;
    padding-top: 10px;
}

/** Thumbnail Styles **/
.av #meta-mlt {
    margin-top: 0.5rem;
}

div#meta-details p {
    margin: 0;
}

div#meta-details p b {
    width: 15em !important;
    display: inline-block;
    border-right: 2px solid #ddd;
    margin-right: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: -3px;
    padding-top: 3px;
}

div#meta-details p b:after {
    content: '';
}

.av .u-bo {
    color: #222;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Babelstone', 'Jomolhari-ID', 'Jomolhari', 'Noto Sans Tibetan',
        'Tibetan Machine Uni', 'Kailasa', 'Uchen_05', 'Microsoft Himalaya' !important;
    font-size: 150%;
    line-height: 140%;
    vertical-align: middle;
}

.av .u-sa {
    color: #222;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial Unicode MS', 'open_sansregular', 'siddhanta_deva',
        'Noto Sans', sans-serif;
    font-size: 125%;
}

.av .u-zh {
    color: #222;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    font-size: 120%;
}
