#sui-main.av {
    width: 99vw;
}

div#av-viewer {
    max-width: 1800px;
    margin: 0 auto;
}

.av .sui-contentHeader-sub {
    display: block;
    font-style: italic;
    font-size: 13px;
    margin: 5px 0 0 2rem !important;
    cursor: pointer;
    color: white;
}

.av .sui-contentHeader-sub a {
    text-transform: capitalize;
}

.av .sui-contentHeader-sub a:hover {
    color: #fff;
    text-decoration: none;
}

.av .sui-contentHeader-sub a.self {
    cursor: default;
}

.av .sui-contentHeader-sub a.self:hover {
    color: #eee;
    text-decoration: none;
}

.sui-contentHeader-sub a:not(:last-child):after {
    content: ' > ';
    display: inline-block;
    padding-left: 3px;
    position: relative;
}

#sui-av,
#av-meta-row {
    overflow: visible;
    margin-top: 2rem !important;
    width: 98%;
    max-width: 2000px;
    margin: 0 auto;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif, shanticon;
}

#sui-viewerSide {
    padding-top: 10px;
    padding-left: 2.5rem;
    max-width: 900px;
}

#sui-kplayer {
    width: 100%;
    max-width: 850px;
    height: 500px;
}

#av-player-row {
    overflow-x: hidden;
    overflow-y: visible;
    height: auto;
}

div#av-trscrpt-wrapper {
    height: inherit;
    letter-spacing: 0;
}

#av-trscrpt-wrapper #sui-trans {
    height: 90%;
}

#av-player-row .sui-sourceText,
#sui-viewerSide p {
    overflow-wrap: break-word;
}

#av-meta-row {
    margin: 0px auto;
}

#av-meta-row .nav-tabs a {
    height: 36px;
    width: 50%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(88, 170, 180);
}

#av-meta-row .nav-tabs a {
    color: white;
}

#av-meta-row .nav-tabs a.active {
    background-color: white;
    border: 2px solid rgb(88, 170, 180);
    color: rgb(88, 170, 180);
    font-weight: bold;
    border-bottom: none;
}

#av-meta-row .tab-content .tab-pane {
    padding: 12px 24px;
    min-height: 500px;
    background-color: #fff;
    border: 2px solid rgb(88, 170, 180);
    border-top: none;
    width: 100%;
    margin-right: 6px;
}

.sui-popover {
    padding: 0px;
}

.sui-popover-body {
    padding: 12px;
}

#sui-popbot {
    width: 100%;
    padding: 12px 12px 1px;
    margin: 0;
    background-color: #333;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
    color: #ddd;
    cursor: pointer;
}

#sui-popbot .sui-popItem p {
}

#av-trscrpt-wrapper .row {
    margin: 0px;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls {
    height: 48px;
    width: 99.7%;
}

#av-trscrpt-wrapper .av-trscrpt-ctrls .sui-transTab {
    height: 52px;
    padding-top: 10px;
}

/** Thumbnail Styles **/
.av #meta-mlt {
    display: grid;
    grid-template-columns: repeat(auto-fill, 188px);
    grid-gap: 1rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.av #meta-mlt .shanti-thumbnail {
    color: #222;
    background: #fff;
    display: flex;
    flex-direction: column;
    float: inherit;
    height: inherit;
    max-width: 188px;
    height: 18em;
    padding: 0;
    margin: 0 0 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-clip: padding-box;
    list-style-type: none;
    z-index: 1;
    box-shadow: 0 2px 5px #ccc;
    border-top: 2px solid rgba(205, 169, 66, 1) !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.av #meta-mlt .shanti-thumbnail {
}

.av #meta-mlt .shanti-thumbnail {
    display: flex;
    flex-direction: column;
    float: inherit;
    height: 17.5em;
    max-width: 188px;
    margin: 0 0.5rem 1rem;
}

.av #meta-mlt .shanti-thumbnail .shanticon-video:before {
    font-family: shanticon;
    content: '\e63a';
}

.av #meta-mlt .shanti-thumbnail:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    box-shadow: 0 8px 15px 2px #c0c0c0;
}
.av #meta-mlt .shanti-thumbnail:active {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 2px 5px #ccc;
}

.av #meta-mlt .shanti-thumbnail-image {
    width: 100%;
    overflow: hidden;
    border-radius: 0;
    background-clip: padding-box;
}

.av #meta-mlt .shanti-thumbnail-image > a {
    height: 9rem;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    border-radius: 0;
    background-clip: padding-box;
    background: #000;
}

.av #meta-mlt .shanti-thumbnail-image > a > .icon {
    filter: alpha(opacity=90);
    opacity: 0.9;
    position: absolute;
    top: 0.1rem;
    right: 0;
    z-index: 100;
    background: #31acb6;
    width: 2em;
    height: 1.88em;
    border-radius: 0 0 0 0.3rem;
    background-clip: padding-box;
    text-shadow: 0 0 1px #555;
    color: white;
    font-size: 1.12em;
    line-height: 1.88em;
    font-weight: normal;
    text-align: center;
    box-shadow: none;
    border: none;
}

.av #meta-mlt .shanti-thumbnail-image > a:hover > .icon {
    filter: alpha(opacity=100);
    opacity: 1;
}

.av #meta-mlt .shanti-thumbnail-image.shanti-field-audio > a > .icon {
    background: #4850bd !important;
}

.av #meta-mlt .shanti-thumbnail-image > a .icon.audio-video::before {
    font-size: 120%;
}

.av #meta-mlt .shanti-thumbnail-image img {
    max-width: 100%;
    margin: 0 auto;
    border: none !important;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
    display: block;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.av #meta-mlt .shanti-thumbnail-image img:hover {
    /* -webkit-transform: scale(1.175);
     transform: scale(1.175);*/
}

.av #meta-mlt .shanti-thumbnail-image img:active {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.av #meta-mlt .shanti-thumbnail-image.shanti-field-audio img {
    position: relative;
    height: 9rem;
}

.av #meta-mlt .shanti-thumbnail-image > a .overlay {
    position: absolute;
    top: 2.2rem;
    right: 50%;
    z-index: 1;
    margin-right: -2.7rem;
}

.av #meta-mlt .shanti-thumbnail .shanti-thumbnail-image > a .overlay .icon {
    background-color: transparent !important;
}
.av
    #meta-mlt
    .shanti-thumbnail.active
    .shanti-thumbnail-image
    > a
    .overlay
    .icon {
    display: inline-block !important;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.15em solid #c5a23f !important;
    border-right-color: transparent !important;
    border-radius: 50% !important;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}

.av #meta-mlt .shanti-thumbnail-info,
.av #meta-mlt .shanti-thumbnail-info a {
    font-size: 0.82em;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    font-weight: 400;
}

.av #meta-mlt .shanti-no-wookmark .shanti-thumbnail-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.av #meta-mlt .shanti-no-wookmark .shanti-thumbnail-info > .body-wrap {
    flex: 1 1 auto;
}

.av #meta-mlt .shanti-thumbnail-info a {
    font-style: italic;
}

.av #meta-mlt .shanti-thumbnail .body-wrap {
    padding: 0 0.5rem 0.75rem;
    overflow: auto;
    height: 13.3rem;
    border-top: 1px solid rgba(205, 169, 66, 1) !important;
}

.av #meta-mlt .shanti-no-wookmark .shanti-thumbnail .body-wrap {
    height: inherit;
}

.av #meta-mlt .shanti-thumbnail .body-wrap::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.av #meta-mlt .shanti-thumbnail .body-wrap::-webkit-scrollbar-track {
    width: 0.5rem;
    background-color: #ddd;
}

.av #meta-mlt .shanti-thumbnail .body-wrap::-webkit-scrollbar-thumb {
    background-color: #aaa;
    width: 0.5rem;
}

.av #meta-mlt .shanti-thumbnail .body-wrap::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    cursor: pointer;
}

.av #meta-mlt .shanti-thumbnail-info .body-wrap a {
    border-bottom: 1px solid transparent !important;
    display: inline;
}
.av #meta-mlt .shanti-thumbnail-info .body-wrap a:hover {
    border-bottom-color: rgba(163, 90, 209, 0.52) !important;
}

.av #meta-mlt .shanti-thumbnail-info .body-wrap .shanti-field-title {
    padding: 0 0.5rem 0.1rem 0.2rem;
    line-height: 2em;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid rgba(205, 169, 66, 0.6) !important;
}

.av #meta-mlt .shanti-thumbnail-info .body-wrap .shanti-field-title a {
    font-size: 1em;
    line-height: 1.32em;
    padding: 0.5rem 0 0;
    font-weight: 600;
    word-break: break-word;
    color: #111;
    border-bottom: none !important;
    font-style: normal;
    display: inline-block;
    width: 100%;
}

/* Tibetan font scaling */
.av #meta-mlt .shanti-thumbnail-info .body-wrap .shanti-field-title.bo a {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Jomolhari-ID', 'Jomolhari', 'Noto Sans Tibetan', 'Babelstone',
        'Kailasa', 'Tibetan Himalayan' !important;
}

.av #meta-mlt .shanti-thumbnail-info .body-wrap .shanti-field-title:hover a {
    color: #df3d26;
}

.av #meta-mlt .shanti-thumbnail-link:hover {
    color: #0e1fbd;
    box-shadow: none;
    text-decoration: none;
}
.av #meta-mlt .shanti-thumbnail-link:active {
    color: #df3d26;
}

.av #meta-mlt .shanti-field-group-audience .shanti-field-content + a::before {
    font-family: 'Glyphicons Halflings';
    content: '\e144';
    color: #666;
    font-size: 1.25em;
    width: 1.32em;
    height: 1.32em;
    display: inline-block;
    margin-right: 0.2rem;
    position: relative;
    left: 0.1rem;
    top: 0.05rem;
}

.shanti-field-group-audience .shanti-field-content {
    font-size: 10px;
    color: white;
}

div#meta-details p {
    margin: 0;
}

div#meta-details p b {
    width: 15em !important;
    display: inline-block;
    border-right: 2px solid #ddd;
    margin-right: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
}

div#meta-details p b:after {
    content: '';
}

.av .u-bo {
    color: #222;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Babelstone', 'Jomolhari-ID', 'Jomolhari', 'Noto Sans Tibetan',
        'Tibetan Machine Uni', 'Kailasa', 'Uchen_05', 'Microsoft Himalaya' !important;
    font-size: 150%;
    line-height: 140%;
    vertical-align: middle;
}

.av .u-sa {
    color: #222;
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial Unicode MS', 'open_sansregular', 'siddhanta_deva',
        'Noto Sans', sans-serif;
    font-size: 125%;
}

.av .u-zh {
    color: #222;
    text-rendering: optimizeLegibility !important;
    font-family: 'Arial', 'Heiti SC', 'Microsoft Yahei', simsun, sans-serif;
    font-size: 120%;
}
