.c-MainSearchToggle--group {
    align-self: center;
    margin: 0;
    width: 100%;
}
.c-MainSearchToggle--group label {
    opacity: 0.6;
    background-color: #eee;
    padding: 1rem 0;
    border-radius: 0;
    border: none;
}
.c-MainSearchToggle--group svg {
    font-size: 1.75rem !important;
    margin: 0;
}
.c-MainSearchToggle--button {
    color: black;
    border-color: #ddd !important;
    border-bottom-color: #aaa !important;
}

.c-MainSearchToggle--button.active {
    opacity: 1;
}

.c-MainSearchToggle--button:hover {
    color: #fff;
    opacity: 1;
}

.c-MainSearchToggle--button.active:hover {
    color: white;
    background-color: inherit;
}

.c-MainSearchToggle--button.focus {
    color: black;
    background-color: white;
}

.c-MainSearchToggle--button .btn {
    border: 0px;
}
