.c-MainSearchToggle--group {
    align-self: center;
    margin: 0;
    width: 100%;
    border-top: 2px solid #ccc;
}
.c-MainSearchToggle--group label {
    color: #fff;
    background-color: #888;
    padding: 1rem 0;
    border-radius: 0;
    border: none;
}
.c-MainSearchToggle--group label,
.c-MainSearchToggle--group label input:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.c-MainSearchToggle--group svg {
    font-size: 1.75rem !important;
    font-size: 2rem !important;
    margin: 0;
    position: relative;
    top: 0;
}
.c-MainSearchToggle--group .btn.active svg {
    font-size: 2.25rem !important;
    top: 0.4rem;
}
.c-MainSearchToggle--button {
    color: black;
    border-color: #ddd !important;
    border-bottom-color: #aaa !important;
}

.c-MainSearchToggle--button.active {
    opacity: 1;
}

.c-MainSearchToggle--button:hover {
    color: #fff;
    opacity: 1;
}

.c-MainSearchToggle--button.active:hover {
    color: white;
    background-color: inherit;
}

.c-MainSearchToggle--button.focus {
    color: black;
    background-color: white;
}

.c-MainSearchToggle--button .btn {
    border: 0px;
}
