.sui-termDicts__wrapper {
    margin-bottom: 3.2rem;
}
.sui-termDicts__title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    color: #4a5568;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #718096;
    display: inline-block;
}
.sui-termDicts__content {
    background: #eee;
    padding: 1.6rem;
}
.sui-termDicts__dict-name {
    font-weight: 400;
    font-style: italic;
}
ul.sui-termDicts__dict-wrapper {
    margin-top: 1rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid #a2733f;
    list-style: none;
}
li.sui-termDicts__dict {
    margin-bottom: 1.6rem;
}
.sui-termDicts__dict-extra {
    text-align: right;
    color: #a2733f;
    margin-top: 0.4rem;
    font-size: smaller;
}
.sui-termDicts__dict-extra-lang {
    text-transform: uppercase;
}
