@import 'index-variables';
@import '~bootstrap/scss/bootstrap';
@import 'css/fonts/shanticon/style.css';
@import 'views/css/Popover';

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 62.5%;
}
body {
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
}
body.html {
    font-family: $font-family-sans, sans-serif;
}
.l-content__main {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 1rem 0 0 0;
}
.l-site__wrap > *,
.l-content__main,
.l-content__main > *,
.c-content__header__main {
    flex: 1;
}
a {
    text-decoration: none;
    color: $link-color;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: $link-hover-color;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 400;
    font-family: $font-family-sans, sans-serif;
}

/**
.l-site__wrap ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
.l-site__wrap ::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #aaa;
}
.l-site__wrap ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
}
.l-site__wrap ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
.l-site__wrap ::-webkit-input-placeholder {
    color: #bbb;
}
::placeholder {
    color: #bbb;
}


----- ** Mandala Modal Styles **
a.mandala-modal {
    text-decoration: none;
    cursor: pointer;
}

iframe.mdlmodal {
    height: 70vh;
    min-height: 500px;
    width: 100%;
    border: none;
}
*/

/*** Inline Styles for HTML from Mandala included in Stand alone ***/
figure.image.center img,
div.image-wrapper.center img,
figure.image.center figcaption,
div.image-wrapper.center figcaption {
    margin-left: auto;
    margin-right: auto;
}

//---------------------------------------
// --- JSON button on kmaps views
//---------------------------------------
.jumbotron {
    background-color: transparent;
}
.sui-advFooter,
.l-column__search pre {
    text-align: center;
}

// * Temporary fix for responsive display
.c-content__main__kmaps img,
.c-content__main__kmaps .images.legacy img {
    height: auto !important;
    max-width: 100% !important;
}

.c-buttoneGroup__viewMode {
    margin-left: 4rem;
    float: left;
}
//---------------------------------------
// *** THEME COLORS & ICONS
//---------------------------------------
.icon.white {
    color: #fff;
}
.u-icon__terms::before {
    font-size: 90%;
}
.icon,
[class^='u-icon__'],
[class*='u-icon__'],
[class^='shanticon-'],
[class*='shanticon-'] {
    font-family: 'shanticon', sans-serif;
}

/*  Style for Icons color invert; background-color swap w/text color
 ** background-colors also set below further down
 ** Match "color-invert" with "icon"
 */
.icon.color-invert {
    color: #fff !important;
}

.u-color__all,
.sui-color-all,
.u-color__mandala,
.u-icon__mandala,
.u-icon__audio,
.u-color__collections,
.sui-color-collections,
.u-icon__collections {
    color: $color-mandala;
}
.u-color__terms,
.sui-color-terms,
.u-icon__terms {
    color: $color-terms;
}
.u-color__audio-video,
.sui-color-audio-video,
.u-icon__audio-video {
    color: $color-audio-video;
}
.u-color__images,
.sui-color-images,
.u-icon__images {
    color: $color-images;
}
.u-color__sources,
.sui-color-sources,
.u-icon__sources {
    color: $color-sources;
}
.u-color__texts,
.sui-color-texts,
.u-icon__texts {
    color: $color-texts;
}
.u-color__visuals,
.sui-color-visuals,
.u-icon__visuals {
    color: $color-visuals;
}
.u-color__subjects,
.sui-color-subjects,
.u-icon__subjects {
    color: $color-subjects;
}
.u-color__places,
.sui-color-places,
.u-icon__places {
    color: $color-places;
}

// --- temp integration process from prototype
.mandala.all,
.mandala.sui-header,
.mandala.collections,
.u-icon__audio.color-invert,
.u-icon__collections.color-invert {
    background-color: $color-mandala;
}
.mandala.places,
.u-icon__places.color-invert {
    background-color: $color-places;
}
.mandala.audio-video,
.u-icon__video.color-invert,
.u-icon__audio-video.color-invert {
    background-color: $color-audio-video;
}
.mandala.images,
.u-icon__images.color-invert {
    background-color: $color-images;
}
.mandala.sources,
.u-icon__sources.color-invert {
    background-color: $color-sources;
}
.mandala.terms,
.u-icon__terms.color-invert {
    background-color: $color-terms;
}
.mandala.texts,
.u-icon__texts.color-invert {
    background-color: $color-texts;
}
.mandala.visuals,
.u-icon__visuals.color-invert {
    background-color: $color-visuals;
}
.mandala.subjects,
.u-icon__subjects.color-invert {
    background-color: $color-subjects;
}

// --------------------------------------
// * CONTENT SECTION: Node Header
// --------------------------------------
.c-nodeHeader {
}
.c-nodeHeader > .icon {
    margin: 0 1.25rem 0 0;
    position: relative;
    top: 0.4rem;
    font-size: 1.8em;
}
.c-nodeHeader__main__backLink {
    font-size: 1.06em;
    position: relative;
    left: -2rem;
    top: -0.8rem;
    padding: 0.5rem 1rem 0.4rem;
    background: $gray-500;
    color: #fff;
    border-radius: 0.6rem 0 0.2rem 0;
}
.c-nodeHeader__main__backLink:hover {
    color: #fff;
    background: $gray-600;
}
.c-nodeHeader__main__backLink:active {
    color: #fff;
    background: $gray-700;
}
.c-nodeHeader__main__backLink .icon::before {
    margin-right: 0.8rem;
    position: relative;
    top: 0.1rem;
}
.c-nodeHeader-itemHeader .icon {
    font-size: 1.38em;
    margin-right: 0.5rem;
    position: relative;
    top: 0.15rem;
}
.c-content__main__kmaps {
    margin: 0 1rem 0 0;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 2rem 2rem;
    font-size: 1.3rem;
    height: 100vh;
}

.l-column__search {
    height: 100vh;
    width: 20vw;
    max-width: 290px;
    background: white;
    font-size: 1.3rem;
}
.l-column__search.open {
    z-index: 1000;
    flex: 1;
    position: absolute;
    top: 11rem;
    right: 1rem;
}

.sui-nameEntry-meta {
    display: block;
    margin-top: 0.75rem;
}

// gallery display buttons for view options
.c-buttoneGroup__viewMode {
}

.open {
    display: block;
}

.closed {
    display: none;
}

.u-search__results__wrap {
    width: 100vw;
    text-align: center;
}
.u-search__noresults__header {
    font-size: 1.6rem;
    white-space: nowrap;
    margin-top: 3rem;
}

.l-terms__tree__wrap .view-wrap > ul {
    border: 1px solid #ccc !important;
    box-shadow: inset 0 0 8px #ddd;
    padding: 0.5rem;
    margin-top: 0.8rem;
}
