@import 'index-variables';
@import '~bootstrap/scss/bootstrap';
@import 'css/fonts/shanticon/style.css';
@import 'views/css/Popover';

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 62.5%;
}
body {
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
}

body.html {
    font-family: $font-family-sans, sans-serif;
}

.two-columns {
    display: flex;
}

.l-site__wrap,
.l-column__main,
.l-column__main__wrap,
.l-content__main,
.l-content__main__wrap {
    //height: 100vh; //causing issues with standalone
}
.l-content__main {
    //height: 100vh; //causing issues with standalone
    width: 100vw;
    display: flex;
    margin: 1rem 0 0 0;
}
.l-site__wrap > *,
.l-content__main,
.l-content__main > *,
.c-content__header__main {
    flex: 1;
}

.l-content__rightsidebar {
    flex: 0 0 25.6rem;
}

a {
    text-decoration: none;
    color: $link-color;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: $link-hover-color;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 400;
    font-family: $font-family-sans, sans-serif;
}

/**
.l-site__wrap ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
.l-site__wrap ::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #aaa;
}
.l-site__wrap ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
}
.l-site__wrap ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
.l-site__wrap ::-webkit-input-placeholder {
    color: #bbb;
}
::placeholder {
    color: #bbb;
}


----- ** Mandala Modal Styles **
a.mandala-modal {
    text-decoration: none;
    cursor: pointer;
}

iframe.mdlmodal {
    height: 70vh;
    min-height: 500px;
    width: 100%;
    border: none;
}
*/

/*** Inline Styles for HTML from Mandala included in Stand alone ***/
figure.image.center img,
div.image-wrapper.center img,
figure.image.center figcaption,
div.image-wrapper.center figcaption {
    margin-left: auto;
    margin-right: auto;
}

//---------------------------------------
// --- JSON button on kmaps views
//---------------------------------------
.jumbotron {
    background-color: transparent;
}
.sui-advFooter,
.l-column__search pre {
    text-align: center;
}
// MAIN Kmaps Column ------- move this
.c-content__main__kmaps {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 2rem 2rem;
    font-size: 1.3rem;
    min-height: 75rem;
    max-width: 75vw;
}
// * Local fix for responsive display - temp
.c-content__main__kmaps img,
.c-content__main__kmaps .images.legacy img {
    height: auto !important;
    max-width: 100% !important;
}

//---------------------------------------
// *** THEME COLORS & ICONS
//---------------------------------------
.icon.white {
    color: #fff;
}
.u-icon__terms::before {
    font-size: 90%;
}
.icon,
[class^='u-icon__'],
[class*='u-icon__'],
[class^='shanticon-'],
[class*='shanticon-'] {
    font-family: 'shanticon', sans-serif;
}

/*  Style for Icons color invert; background-color swap w/text color
 ** background-colors also set below further down
 ** Match "color-invert" with "icon"
 */
.icon.color-invert {
    color: #fff !important;
}

.u-color__all,
.sui-color-all,
.u-color__mandala,
.u-icon__mandala,
.u-icon__audio,
.u-color__collections,
.sui-color-collections,
.u-icon__collections {
    color: $color-mandala;
}
.u-color__terms,
.sui-color-terms,
.u-icon__terms {
    color: $color-terms;
}
.u-color__audio-video,
.sui-color-audio-video,
.u-icon__audio-video {
    color: $color-audio-video;
}
.u-color__images,
.sui-color-images,
.u-icon__images {
    color: $color-images;
}
.u-color__sources,
.sui-color-sources,
.u-icon__sources {
    color: $color-sources;
}
.u-color__texts,
.sui-color-texts,
.u-icon__texts {
    color: $color-texts;
}
.u-color__visuals,
.sui-color-visuals,
.u-icon__visuals {
    color: $color-visuals;
}
.u-color__subjects,
.sui-color-subjects,
.u-icon__subjects {
    color: $color-subjects;
}
.u-color__places,
.sui-color-places,
.u-icon__places {
    color: $color-places;
}

// --- temp integration process from prototype
.mandala.all,
.mandala.sui-header,
.mandala.collections,
.u-icon__audio.color-invert,
.u-icon__collections.color-invert {
    background-color: $color-mandala;
}
.mandala.places,
.u-icon__places.color-invert {
    background-color: $color-places;
}
.mandala.audio-video,
.u-icon__video.color-invert,
.u-icon__audio-video.color-invert {
    background-color: $color-audio-video;
}
.mandala.images,
.u-icon__images.color-invert {
    background-color: $color-images;
}
.mandala.sources,
.u-icon__sources.color-invert {
    background-color: $color-sources;
}
.mandala.terms,
.u-icon__terms.color-invert {
    background-color: $color-terms;
}
.mandala.texts,
.u-icon__texts.color-invert {
    background-color: $color-texts;
}
.mandala.visuals,
.u-icon__visuals.color-invert {
    background-color: $color-visuals;
}
.mandala.subjects,
.u-icon__subjects.color-invert {
    background-color: $color-subjects;
}

// --------------------------------------
// * CONTENT SECTION: Node Header -- move this
// --------------------------------------
.c-nodeHeader {
}
.c-nodeHeader > .icon {
    margin: 0 1.25rem 0 0;
    position: relative;
    top: 0.3rem;
    left: 0.1rem;
    font-size: 2.5rem;
}
.c-nodeHeader__backLink__wrap {
    display: flex;
    margin-bottom: -1rem;
    position: relative;
    top: -0.75rem;
    left: -0.25rem;
}
.c-nodeHeader__backLink {
    font-size: 1.06em;
    letter-spacing: 0.0275rem;
    color: #555;
    display: flex;
}
.c-nodeHeader__backLink:hover {
    //  color: #fff;
    //  background: $gray-600;
}
.c-nodeHeader__backLink:active {
    //   color: #fff;
    //  background: $gray-700;
}
.c-nodeHeader__backLink .icon::before {
    margin-right: 0.8rem;
    position: relative;
    top: 0.1rem;
}
.c-nodeHeader-itemHeader {
    background-color: $color-amber;
    color: #fff;
    padding: 0.1rem 1rem 0.75rem 1.5rem;
    margin-top: 0.5rem;
    margin-left: -0.75rem;
    font-size: 1.44rem;
    line-height: 1.3;
    border-radius: 0.5rem 0.5rem 0 0;
}
.av .c-nodeHeader-itemHeader {
    background-color: $color-audio-video;
}
.c-nodeHeader-itemHeader-subType {
    text-transform: capitalize;
}
.c-nodeHeader-itemHeader-subType:after {
    content: ': ';
}
.c-nodeHeader-itemHeader-caption {
    font-style: italic;
}
.c-nodeHeader-itemHeader .icon {
    font-size: 1.38em;
    margin-right: 0.75rem;
    position: relative;
    top: 0.35rem;
    color: #fff;
}

// SEARCH Section ------- move this
.advanced-search-and-tree {
    position: relative;
    & > * {
        position: absolute;
        width: 100%;
    }
}
.l-column__search {
    height: 100vh;
    font-size: 1.3rem;
    z-index: 1000;
}
.l-column__search.open {
    z-index: 1000;
}
.l-column__search.open.standalone {
    z-index: inherit;
    flex: inherit;
    position: relative;
    top: inherit;
    right: inherit;
    width: inherit;
    max-width: inherit;
    background: inherit;
    border-left: none;
}
.l-column__search nav:first-child {
    display: none;
}
.sui-nameEntry-meta {
    display: block;
    margin-top: 0.75rem;
}

.u-search__results__wrap {
    width: 100vw;
    text-align: center;
}
.u-search__noresults__header {
    font-size: 1.6rem;
    white-space: nowrap;
    margin-top: 3rem;
}

// gallery display buttons for view options
// View mode for content column
.c-buttoneGroup__viewMode {
    margin: 0.8rem 1.5rem 0rem;
    padding-right: 1rem;
    float: right;
}

.open {
    display: block;
}

.closed {
    display: none;
}

// View Styles
.c-view__wrapper {
    background-color: white;
}

.c-view {
    margin: 0 2rem;
    .c-featurePager__container {
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        padding-left: 3rem;
        margin: 0rem;
        border-radius: 0.3rem 0.3rem 0rem 0rem;
        color: white;

        .icon {
            color: white;
        }
    }
}

// List View Only
.sources .list .c-view {
    margin: 0 2rem 0 0;
}
.list .c-view {
    margin: 0 2rem;

    .card {
        border: unset;
        border-top: 1px solid #cde3f7;
    }

    .u-icon__plus {
        color: #333;
        opacity: 0.5;
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.3rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &.openitem {
            transform: rotate(45deg);
        }
    }

    .card .type.icon {
        font-size: 1.2rem;
        padding: 0.3rem;
        border: 3px double #fff;

        &.shanticon-audio-video {
            background-color: $color-audio-video;
            color: #fff;
        }
        &.shanticon-images {
            background-color: $color-images;
            color: #fff;
        }
        &.shanticon-sources {
            background-color: $color-sources;
            color: #fff;
        }
        &.shanticon-texts {
            background-color: $color-texts;
            color: #fff;
        }
        &.shanticon-visuals {
            background-color: $color-visuals;
            color: #fff;
        }
        &.shanticon-places {
            background-color: $color-places;
            color: #fff;
        }
        &.shanticon-subjects {
            background-color: $color-subjects;
            color: #fff;
        }
        &.shanticon-terms {
            background-color: $color-terms;
            color: #fff;
        }
    }

    .title {
        padding-top: 0.5rem;
    }
    .meta {
        font-size: 1.1rem;
        font-style: italic;
        text-align: right;
    }

    .meta > span {
        display: block;
    }

    .card-body {
        max-height: unset;
        min-height: 3rem;
        font-size: 1.4rem;
        min-width: 40vw;
        overflow: visible;

        span.img {
            margin: 0 1rem 1rem 0;
            border: thin solid #aaa;
            background-color: #ddd;
            padding: 0.4rem;
            border-radius: 6px;
            float: left;
        }

        img {
            background-color: #fff;
            max-width: 150px;
            padding: 0.3rem;
            border-radius: 6px;
        }

        .creator {
            display: block;
            margin: 0.3rem 0;
        }
        p {
            max-width: 93%;
        }
        .kmaps {
            clear: both;
            h5 {
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 600;
            }
            span.icon {
                display: inline-block;
                margin-right: 0.5rem;
            }

            ul {
                margin-left: 0px;
                padding-inline-start: 1.5rem;
            }
            li {
                list-style-type: none;
                font-family: 'EB Garamond', serif;
                font-size: 1.5rem;
            }
        } // Ends kmaps for relateds in accordion
    } // Ends card-body

    // Kmaps card styles
    .card.places,
    .card.subjects,
    .card.terms {
        margin-top: 0;
        margin-bottom: 0;
    }
    .title {
        line-height: 2.25rem;
    }
    .title .header {
        color: #000;
        font-size: 1.4rem;
        background: rgba(0, 50, 255, 0.075);
    }
    .feature-types span {
        font-size: 1.1rem;
        font-style: italic;
    }
    .feature-types span::before {
        width: 0.6rem;
        height: 0.6rem;
        content: '';
        display: inline-block;
        position: relative;
        bottom: 0.15rem;
        margin-right: 0.7rem;
        margin-left: 0.7rem;
        background-color: #63a5f4;
        filter: alpha(opacity=85);
        opacity: 0.85;
    }

    // Ancestors for kmaps in list view
    .ancestors {
        margin-left: 5.5rem;
        font-size: 1.3rem;
        white-space: nowrap;

        span {
            display: inline-block;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }

        span:after {
            content: '>';
            margin-left: 0.5rem;
        }

        span:last-child:after {
            content: '';
        }

        a {
            color: #333;
            font-style: italic;
        }

        a:hover {
            color: #df3d26;
            text-decoration: underline;
        }
    }

    .collapse .info.kmaps,
    .collapsing .info.kmaps {
        margin-bottom: -1.5rem;
        & > * {
            margin-left: 5.5rem;
            font-size: 1.4rem;
            line-height: 2.5rem;
        }
        p.caption {
            margin-bottom: 0;
            font-style: italic;
        }
        div.altnames {
            margin-top: 0;
            font-size: 1.5rem;
        }
    }
} // End list view styles

// Asset Home Pages
.assethome {
    & > .desc {
        font-size: 1.5rem;

        & > * {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    &.sources {
        .c-view {
            margin: 0 2rem;
            font-size: 1.45rem;
        }
        .card {
            border: none;
            margin-left: 3rem !important;
            text-indent: -3rem;
        }
    }
}

// Not Found Page for Assets
.c-not-found {
    text-align: center;
    font-size: 1.75rem !important;

    .logo {
        margin: 1rem 0 2rem;
        max-height: 25vh;
        opacity: 0.35;
    }
    h1 {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    p {
        font-style: italic;
        line-height: 3rem;
    }

    button,
    a.btn {
        color: lightgrey;
        font-size: 1.5rem;
        padding: 0.25rem 1.5rem;
        border-radius: 2rem;
    }
}

// Tibetan Fix
.bo {
    letter-spacing: normal !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Babelstone', 'Jomolhari-ID', 'Jomolhari', 'Noto Sans Tibetan',
        'Tibetan Machine Uni', 'Kailasa', 'Uchen_05', 'Microsoft Himalaya' !important;
}

@media screen and (max-width: 950px) {
    .list .c-view .ancestors {
        white-space: normal;
        line-height: 1.5rem;
        font-size: 1.1altnamesrem;
    }
}
