@import 'index-variables'; // * CUSTOM --- Thematic SCSS Variables
@import '~bootstrap/scss/bootstrap'; // * VENDOR --- Base files for Bootstrap
@import 'css/fonts/shanticon/style.css'; // * CUSTOM --- Icon set for Mandala
@import 'views/css/Popover'; // * CUSTOM --- Icon set for Mandala

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 62.5%;
}
body {
    text-rendering: optimizeLegibility;
    background-color: #fafafa;
}
body.html {
    font-family: $font-family-sans, sans-serif;
}

a {
    text-decoration: none;
    color: $link-color;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: $link-hover-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 400;
    font-family: $font-family-sans, sans-serif;
}
/**
.l-wrapAll ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
.l-wrapAll ::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid #aaa;
}
.l-wrapAll ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
}
.l-wrapAll ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
.l-wrapAll ::-webkit-input-placeholder {
    color: #bbb;
}
::placeholder {
    color: #bbb;
}


----- ** Mandala Modal Styles **
a.mandala-modal {
    text-decoration: none;
    cursor: pointer;
}

iframe.mdlmodal {
    height: 70vh;
    min-height: 500px;
    width: 100%;
    border: none;
}
*/

/*** Inline Styles for HTML from Mandala included in Stand alone ***/
figure.image.center img,
div.image-wrapper.center img,
figure.image.center figcaption,
div.image-wrapper.center figcaption {
    margin-left: auto;
    margin-right: auto;
}

// --------------------------------------------------------------------
// ------- SITE LAYOUT ---- lots of testing still, pardon the mess
// --------------------------------------------------------------------
#root {
    height: 100vh;
    width: 100%;
}
.l-wrapAll {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, $siteBanner-height auto $pageFooter-height);
    //  grid-template-columns: 300px 1fr;
    height: 100vh;
}
// article
.c-content__main {
    //   grid-template-columns: 250px auto 350px;
    //   grid-template-rows: repeat(1, auto);
    //   grid-gap: 1em;
}
footer,
article,
.c-siteHeader,
.c-column__main,
.c-content__main,
.c-contentHeader__main,
.c-contentHeader {
    //   display: flex !important;
}
footer,
.c-siteHeader,
//.c-column__main,
//.c-content__main,
.c-contentHeader__main,
.c-contentHeader {
    //  grid-column: 1 / 4;
}

.c-column__main {
}
.c-columnSearch.open {
    position: absolute;
    top: 120px;
    right: 1rem;
    z-index: 100;
    height: 100vh;
    background: white;
    font-size: 1.32rem;
    width: 290px;
}
.sui-advFooter,
.c-columnSearch pre {
    text-align: center;
}
.u-columnFirst {
}
.u-columnSecond {
}
.u-footer {
}
footer,
.c-siteHeader,
.c-column__main,
.c-content__main,
.c-contentHeader__main,
.c-contentHeader,
.u-columnFirst,
.u-columnSecond {
    //   padding: 1em;
}

//---------------------------------------
// --- JSON button on kmaps views
//---------------------------------------
.jumbotron {
    background-color: transparent;
}

// * Temporary fix for responsive display
.c-contentMain__kmaps .images.legacy img {
    height: auto !important;
    max-width: 100% !important;
}

//---------------------------------------
// *** THEME COLORS & ICONS
//---------------------------------------
.icon.white {
    color: #fff;
}
.u-icon__terms::before {
    font-size: 90%;
}
.c-columnSearch .icon,
.c-columnSearch [class^='u-icon__'],
.c-columnSearch [class*='u-icon__'],
.c-columnSearch [class^='shanticon-'],
.c-columnSearch [class*='shanticon-'] {
    font-family: 'shanticon', sans-serif;
}

/*  Style for Icons color invert; background-color swap w/text color
 ** background-colors also set below further down
 ** Match "color-invert" with "icon"
 */
.icon.color-invert {
    color: #fff !important;
}

.u-color__all,
.sui-color-all,
.u-color__mandala,
.u-icon__mandala,
.u-icon__audio,
.u-color__collections,
.sui-color-collections,
.u-icon__collections {
    color: $color-mandala;
}
.u-color__terms,
.sui-color-terms,
.u-icon__terms {
    color: $color-terms;
}
.u-color__audio-video,
.sui-color-audio-video,
.u-icon__audio-video {
    color: $color-audio-video;
}
.u-color__images,
.sui-color-images,
.u-icon__images {
    color: $color-images;
}
.u-color__sources,
.sui-color-sources,
.u-icon__sources {
    color: $color-sources;
}
.u-color__texts,
.sui-color-texts,
.u-icon__texts {
    color: $color-texts;
}
.u-color__visuals,
.sui-color-visuals,
.u-icon__visuals {
    color: $color-visuals;
}
.u-color__subjects,
.sui-color-subjects,
.u-icon__subjects {
    color: $color-subjects;
}
.u-color__places,
.sui-color-places,
.u-icon__places {
    color: $color-places;
}

// --- temp integration process from prototype
.mandala.all,
.mandala.sui-header,
.mandala.collections,
.u-icon__collections.color-invert {
    background-color: $color-mandala;
}
.mandala.places,
.u-icon__places.color-invert {
    background-color: $color-places;
}
.mandala.audio-video,
.u-icon__audio-video.color-invert {
    background-color: $color-audio-video;
}
.mandala.images,
.u-icon__images.color-invert {
    background-color: $color-images;
}
.mandala.sources,
.u-icon__sources.color-invert {
    background-color: $color-sources;
}
.mandala.terms,
.u-icon__terms.color-invert {
    background-color: $color-terms;
}
.mandala.texts,
.u-icon__texts.color-invert {
    background-color: $color-texts;
}
.mandala.visuals,
.u-icon__visuals.color-invert {
    background-color: $color-visuals;
}
.mandala.subjects,
.u-icon__subjects.color-invert {
    background-color: $color-subjects;
}

// --------------------------------------------------------
// TOP BANNER ---- BEGIN: Headroom script/css testing
// --------------------------------------------------------
.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
/*
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
 */
html,
body {
    scroll-padding-top: 40px; /* set to the height of your header */
}
// --------------------------------------
// END of Headroom script/css testing
// --------------------------------------

.sui-nameEntry-meta {
    display: block;
    margin-top: 0.75rem;
}

// --------------------------------------
// * TOP BANNER: Site Header
// --------------------------------------
.c-siteHeader {
    height: 40px;
    padding: 0;
}
.c-siteHeader__search {
    position: absolute;
    top: 0.5rem;
    right: 30px;
}

// --------------------------------------
// * CONTENT SECTION: Content Header
// --------------------------------------

.c-contentHeader__main {
    padding: 0.25rem 1rem 1rem;
    width: 100%;
    height: 65px;
}
.c-contentHeader,
.c-contentHeader__main__title {
    color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: 0;
}
.c-contentHeader__main__title {
    // page header text on colored banner
    font-size: 2.25em;
}
.c-contentHeader__main__title .icon {
    margin-right: 0.75rem;
    position: relative;
    top: 0.3rem;
}
.c-contentHeader__main__id {
    font-style: italic;
    color: #eee;
    position: absolute;
    right: 2rem;
    top: 80px;
}
.c-contentHeader__main__sub {
    font-style: italic;
    font-size: smaller;
    color: #aaaaaa;
    display: none;
}

.c-contentHeader__breadcrumb {
    background-color: transparent;
    font-size: 1.32em;
    padding: 0;
    margin: 0.75rem 0.5rem 0.25rem 3rem;
}
.c-contentHeader__breadcrumb,
.c-contentHeader__breadcrumb a {
    color: #fff;
}
.c-contentHeader__breadcrumb a {
    padding: 0 0.5rem;
}
// gallery display buttons for view options
.c-buttoneGroup__viewMode {
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
}

// --------------------------------------
// * CONTENT SECTION: Node Header
// --------------------------------------
.c-nodeHeader {
}

.c-nodeHeader > .icon {
    margin: 0 1.25rem 0 0;
    position: relative;
    top: 0.4rem;
    font-size: 1.8em;
}
.c-nodeHeader__main__backLink {
    font-size: 1.12em;
    position: relative;
    left: -1rem;
    top: -0.5rem;
}
.c-nodeHeader-itemHeader .icon {
    font-size: 1.38em;
    margin-right: 0.5rem;
    position: relative;
    top: 0.1rem;
}
.c-contentMain__kmaps {
    margin: 1rem 1rem 1rem 192px;
    background-color: #f7f7f7;
    border: 1px solid #999;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 2rem 2rem;
    font-size: 1.3rem;
}
