// ===========================================
// * Fonts
// ===========================================
$font-size-default: 16px;
$font-family-sans: 'Open Sans', sans-serif;
$font-family-serif: 'EB Garamond', serif;

// ===========================================
// * Colors
// ===========================================
$color-text--darker: #111;
$color-text: #333;
$color-text--lighter: #555;
// * Links
$link-color: #144792 !default;
$link-decoration: none !default;
$link-hover-color: #df3d26 !default;
$link-hover-decoration: none !default;

// --- Theme colors
$color-audio-video: #2ea3ac;
$color-images: #cc761a;
$color-mandala: #2c67c0; /* theme primary color */
$color-places: #3297f7;
$color-subjects: #cc4c39;
$color-sources: #5a57ad;
$color-texts: #8c48a1;
$color-terms: #91693c;
$color-visuals: #558e3c;
// --- Add-on Theme colors
$color-amber: #a27f1c; // see Card Footer background-color in feature galleries

// * Mapping for future styles
$colors: () !default;
$colors: map-merge(
    (
        'audio-video': $color-audio-video,
        'images': $color-images,
        'mandala': $color-mandala,
        'places': $color-places,
        'subjects': $color-subjects,
        'sources': $color-sources,
        'texts': $color-texts,
        'terms': $color-terms,
        'visuals': $color-visuals,
        'amber': $color-amber,
    ),
    $colors
);

// --------------------------------------
// * Theme colors
$primary: $color-mandala;
$secondary: $color-amber;

$theme-colors: () !default;
$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
    ),
    $theme-colors
);

// ===========================================
// * Breakpoints
// ===========================================
// $break-0: 0;
// $break-1: 36em; /* 576px */
// $break-2: 48em; /* 768px */
// $break-3: 62em; /* 992px */
// $break-4: 75em; /* 1200px */

// @import '~bootstrap/scss/bootstrap';
