/* Common Variables
// ========================================================================== */
$font-size-default: 16px;
$font-family-body: 'Open Sans', sans-serif;
$font-family-serif: 'EB Garamond', serif;

$font-weight-sansSerif: (
    'regular': 400,
    'medium': 600,
);
$font-weight-serif: (
    'regular': 400,
    'medium': 500,
    'bold': 600,
);

/* Colors
// ========================================================================== */
$color-audio-video: #2ea3ac;
$color-images: #cc761a;
$color-mandala1: #2c67c0; /* theme primary color */
$color-places: #3297f7;
$color-subjects: #cc4c39;
$color-sources: #5a57ad;
$color-texts: #8c48a1;
$color-terms: #91693c;
$color-visuals: #558e3c;

/* Breakpoints
// ========================================================================== */
$break-0: 0;
$break-1: 36em; /* 576px */
$break-2: 48em; /* 768px */
$break-3: 62em; /* 992px */
$break-4: 75em; /* 1200px */

.mandala.terms {
    background-color: $color-terms;
}

.mandala.all,
.mandala.sui-header,
.mandala.collections {
    background-color: $color-mandala1;
}
.mandala.places {
    background-color: $color-places;
}
.mandala.audio-video {
    background-color: $color-audio-video;
}
.mandala.images {
    background-color: $color-images;
}
.mandala.sources {
    background-color: $color-sources;
}
.mandala.texts {
    background-color: $color-texts;
}
.mandala.visuals {
    background-color: $color-visuals;
}
.mandala.subjects {
    background-color: $color-subjects;
}
.mandala.collections {
    background-color: $color-mandala1;
}

.sui-color-all {
    color: $color-mandala1;
}
.sui-color-terms {
    color: $color-terms;
    font-size: 90%;
}
.sui-color-audio-video {
    color: $color-audio-video;
}
.sui-color-images {
    color: $color-images;
}
.sui-color-sources {
    color: $color-sources;
}
.sui-color-texts {
    color: $color-texts;
}
.sui-color-visuals {
    color: $color-visuals;
}
.sui-color-subjects {
    color: $color-subjects;
}
.sui-color-collections {
    color: $color-mandala1;
}
