@import '~bootstrap/scss/bootstrap';
@import './src/om-global-var.scss';

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    font-family: serif;
    font-size: 62.5%;
    color: #2d3748;
}

body {
    color: #333;
    -webkit-font-smoothing: antialiased; /* Chrome fonts */
    -moz-osx-font-smoothing: grayscale; /* FF fonts */
    overflow: hidden;
    margin-top: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /*text-rendering: optimizeSpeed;
    letter-spacing: 0.01rem;*/
    text-rendering: optimizeLegibility !important;
    letter-spacing: normal !important;
}

body.html {
    background-color: #222;
    color: #ccc;
}
/* reset modal popups, lightboxes, iframe backgrounds to white */
body.html .main-col body,
body.page-media-browser,
body.lightbox-processed {
    background-color: #fff;
    color: #333;
}

.h1,
h1 {
    font-size: 1.56em;
}
.h2,
h2 {
    font-size: 1.44em;
}
.h3,
h3 {
    font-size: 1.32em;
}
.h4,
h4 {
    font-size: 1.18em;
}
.h5,
h5 {
    font-size: 1.06em;
}
.h6,
h6 {
    font-size: 1em;
}

/* Note: header classes & elements */
.h1,
.h2,
.h3,
h1,
h2,
h3,
.h4,
.h5,
.h6,
h4,
h5,
h6 {
    color: #444;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 0.0175rem;
    font-weight: 400;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    //   letter-spacing: 0.0475rem;
}

.h4,
h4 {
    margin-top: 15px;
}

.h5,
.h6,
h5,
h6 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #03038e;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #df3d26;
}

/*********************** Mandala Modal Styles ***********************/
a.mandala-modal {
    text-decoration: none;
    color: #03038e;
    cursor: pointer;
}

iframe.mdlmodal {
    height: 70vh;
    min-height: 500px;
    width: 100%;
    border: none;
}

/*********************** End Mandala Modal Styles ***********************/

/*** Inline Styles for HTML from Mandala included in Stand alone ***/
figure.image.center img,
div.image-wrapper.center img,
figure.image.center figcaption,
div.image-wrapper.center figcaption {
    margin-left: auto;
    margin-right: auto;
}
/**
 ** END - Global Styles copied from ShantiSarvaka shanti-main.css for fonts etc (ndg, 2020-07-14)
 **/

// START - NEW CSS
.shanti-field-itemcount,
.shanti-field-path,
.shanti-field-type,
.shanti-field-author,
.shanti-field-creator,
.shanti-field-registrar,
.shanti-field-languages,
.shanti-field-duration,
.shanti-field-created,
.shanti-field-place,
.shanti-field-subject {
    font-size: 1.18rem;
}
.shanti-field-itemcount span::before,
.shanti-field-path span::before,
.shanti-field-type span::before,
.shanti-field-author > span::before,
.shanti-field-creator > span::before,
.shanti-field-registrar > span::before,
.shanti-field-languages span::before,
.shanti-field-duration span::before,
.shanti-field-created span::before,
.shanti-field-place > span::before,
.shanti-field-subject > span::before {
    position: relative;
    top: 2px;
}

.c-searchColumn .icon,
.c-searchColumn [class^='u-icon__'],
.c-searchColumn [class*='u-icon__'],
.c-searchColumn [class^='shanticon-'],
.c-searchColumn [class*='shanticon-'] {
    font-family: 'shanticon';
}

.sui-terms > .c-nodeHeader .icon {
    font-size: 1.32em;
    margin-right: 0.5rem;
    position: relative;
    top: 0.1rem;

    top: 0.2rem;
    font-size: 2.5rem;
}

.mandala.all,
.mandala.sui-header,
.mandala.collections {
    background-color: $color-mandala;
}
.mandala.places {
    background-color: $color-places;
}
.mandala.audio-video {
    background-color: $color-audio-video;
}
.mandala.images {
    background-color: $color-images;
}
.mandala.sources {
    background-color: $color-sources;
}
.mandala.terms {
    background-color: $color-terms;
}
.mandala.texts {
    background-color: $color-texts;
}
.mandala.visuals {
    background-color: $color-visuals;
}
.mandala.subjects {
    background-color: $color-subjects;
}
.mandala.collections {
    background-color: $color-mandala;
}

.u-color__all,
.sui-color-all,
.u-color__mandala,
.u-icon__mandala,
.u-icon__audio,
.u-color__collections,
.sui-color-collections,
.u-icon__collections {
    color: $color-mandala;
}
.u-color__terms,
.sui-color-terms,
.u-icon__terms {
    color: $color-terms;
    font-size: 90%;
}
.u-color__audio-video,
.sui-color-audio-video,
.u-icon__audio-video {
    color: $color-audio-video;
}
.u-color__images,
.sui-color-images,
.u-icon__images {
    color: $color-images;
}
.u-color__sources,
.sui-color-sources,
.u-icon__sources {
    color: $color-sources;
}
.u-color__texts,
.sui-color-texts,
.u-icon__texts {
    color: $color-texts;
}
.u-color__visuals,
.sui-color-visuals,
.u-icon__visuals {
    color: $color-visuals;
}
.u-color__subjects,
.sui-color-subjects,
.u-icon__subjects {
    color: $color-subjects;
}
.u-color__places,
.sui-color-places,
.u-icon__places {
    color: $color-places;
}
