/* HAMBURGER MENU */

.sui-hamBut {
    display: inline-block;
    font-family: 'shanticon', serif;
    font-size: 16px;
    cursor: pointer;
    color: #666;
    vertical-align: 2px;
    margin-left: 12px;
}

.sui-hamBut:hover {
    color: #668eec;
}

.sui-hamburger {
    position: ABSOLUTE;

    font-size: 14px;
    background-color: #666;
    color: #fff;
    width: calc(100% - 12px);
    height: 38px;
    display: none;
    padding: 16px 12px 0 0;
}

.sui-hamItem {
    float: right;
    cursor: pointer;
    text-align: right;
    width: 150px;
}
