.c-HistoryViewer {
    font-size: 1em;
    color: #222;
    padding: 0;
    max-height: 84px;
    user-select: none;
    overflow-x: hidden;
    cursor: pointer;
    position: relative;
}

.c-HistoryViewer__relatedRecentItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    cursor: default;
}
.c-HistoryViewer__removeItem {
    cursor: pointer;
    font-size: 1.25em;
    color: transparent;
    transition: color 200ms ease 0s;
    position: absolute;
    right: 0.8rem;
    transition: color 350ms ease-in;
}

.c-HistoryViewer__relatedRecentItem:hover .c-HistoryViewer__removeItem {
    color: #aaa;
}
.c-HistoryViewer__removeItem:hover::before {
    color: #df3d26;
}
.c-HistoryViewer__removeItem:active::before {
    color: #aaa;
}

.c-HistoryViewer__title {
    line-height: normal;
}
.c-HistoryViewer__relatedTitle {
    font-style: italic;
}
