.c-HistoryViewer {
    font-size: 1.25rem;
    color: #000;
    padding: 0.5rem;
    margin: 0 1.25rem;
    max-height: 12rem;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #ddd;
    box-shadow: inset 0 0 8px #ddd;
}

.c-HistoryViewer__relatedRecentItem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    cursor: default;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.c-HistoryViewer__removeItem {
    cursor: pointer;
    font-size: 1.2rem;
    color: transparent;
    transition: color 200ms ease 0s;
    position: absolute;
    right: 0.8rem;
    transition: color 350ms ease-in;
}

.c-HistoryViewer__relatedRecentItem:hover .c-HistoryViewer__removeItem {
    color: #aaa;
}

.c-HistoryViewer__removeItem:hover::before {
    color: #df3d26;
}

.c-HistoryViewer__removeItem:active::before {
    color: #aaa;
}

.c-HistoryViewer__title {
    line-height: 1.75;
}

.c-HistoryViewer__relatedTitle {
    font-style: italic;
}

.c-HistoryViewer__filterIcons .facetItem:not(:last-child):after,
.c-HistoryViewer__filterIcons:not(:empty):before {
    content: '+';
}
